@import "/src/app/theme/styles/components/colors";

.background {
  background: linear-gradient(
      rgba($primary-color, 0.95),
      rgba($primary-color, 0.95)
    ),
    url(/assets/images/others/homepage-bg.jpg);
  object-fit: cover;
  background-size: cover !important;
  //height: 100vh;
  min-height: calc(100vh - 95px);
  width: 100%;
  margin: 0;
  padding: 0;

  .content-stepper {
    width: 75%;
    overflow-y: scroll;
  }

  .content-stepper::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as per your preference */
  }

  .content-stepper::-webkit-scrollbar-track {
    background-color: transparent; /* Set the track color to transparent */
  }

  .content-stepper::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the thumb color to transparent */
  }
}
