<div class="hotel-sidebar-filer-container">
  <!--  <p-accordionTab header="titleeee" [selected]="true">-->
  <!--    <ng-template pTemplate="content">-->
  <!--      <div class="filter-tab">-->
  <!--        <ng-container *ngFor="let option of languageOptions">-->
  <!--          &lt;!&ndash;          <p-checkbox&ndash;&gt;-->
  <!--          &lt;!&ndash;            name="groupname"&ndash;&gt;-->
  <!--          &lt;!&ndash;            value="{{ option.title }}"&ndash;&gt;-->
  <!--          &lt;!&ndash;            label="{{ option.title }}"&ndash;&gt;-->
  <!--          &lt;!&ndash;            [(ngModel)]="option.selected"&ndash;&gt;-->
  <!--          &lt;!&ndash;            (onChange)="onFilterChange()"&ndash;&gt;-->
  <!--          &lt;!&ndash;          ></p-checkbox>&ndash;&gt;-->
  <!--        </ng-container>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--  </p-accordionTab>-->
</div>
