@import "src/app/theme/styles/components/_colors.scss";

.payment-details {
  font-size: 16px !important;
}

.booking-section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $paragraph;
}

.booking-items-container {
  border: 1px solid rgba($primary-color, 0.16);
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 32px;
}

.room-price-footer {
  p {
    margin-bottom: 0;
  }
  p:first-child {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    text-align: right;
    letter-spacing: -0.02em;
    color: $primary-color;
  }

  p:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: right;
    letter-spacing: -0.02em;
    color: $paragraph;
  }
}

.row {
  row-gap: 24px;
}
