<!-- header.component.html -->
<!-- header.component.html -->
<header class="site-header">

    <div class="">
        <div class="header-content">
            <div class="logo">
                <img src="../../../../../assets/icons/BestInfoLogo_white.svg" class="not-mobile" alt="">
                <span class="logo-text-white public">Bestinform</span>
            </div>
        </div>
    </div>
    <div class="header-image">
        <div class="image-container">
            <div class="container-text">
                <div class="overlay"></div> <!-- This will hold the confetti or pattern overlay -->
                <div class="content">
                    <h1>Felicitări, Ești Înscris!</h1>
                    <h3>Îți mulțumim pentru participare și îți dorim mult succes!</h3>
                    <h3>
                        Câștigătorul va fi anunțat prin Email pe data de 5 Martie.
                    </h3>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/bestinformeu" class="icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/bestinform.eu " class="icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@bestinform?_t=8jYRzdu4VxR&_r=1" class="icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
