@import '/src/app/theme/styles/components/colors';
table{
  width:100%;
}

.card-body {
  & > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $paragraph;
  }
}

.table-container{
  padding:24px;
  border-radius: 8px;
  border: solid 1px transparent;
}

.card-header{
  // padding-top: 44.5px;
  // padding-bottom: 42.5px;
  border-color:transparent;
  // background-color: rgba(237, 239, 245, 1);
}

.card.custom-table.gutter-b{
  border:none;
}

.card-event{
  h3{
    max-width:400px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }
}
span.singleLineComment{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.userImage{
  height: 64px;
  width: 64px;
  border-radius: 50%;
  flex-shrink: 0;
}

h3{
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: $primary-color;
}

p.date{
  font-weight: 300;
  font-size: 12px;
  line-height: 126%;
  /* or 15px */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  
  color: $paragraph;
  margin-bottom: 0px; 
}

p.comment{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: $paragraph
}

.lightBlueBkg{
  background-color: rgba($primary-color, 0.24);
}

@media only screen and (min-width:992px){
  //title cell
  td.mat-cell.cdk-cell.cdk-column-title.mat-column-title.ng-star-inserted{
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (min-width:992px) and (max-width: 1199px){


  td.mat-cell.cdk-cell.cdk-column-title.mat-column-title.ng-star-inserted{
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  td.mat-cell.cdk-cell.cdk-column-category.mat-column-category.ng-star-inserted,
  td.mat-cell.cdk-cell.cdk-column-date.mat-column-date.ng-star-inserted,
  td.mat-cell.cdk-cell.cdk-column-authors.mat-column-authors.ng-star-inserted{
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

i.fa-search{
  color: rgba($primary-color, 0.24);
}

/*:host {
    ::ng-deep .filters-inputs {
      .mat-form-field-wrapper {
        padding: 0;
      }
    }
  }*/

a.title-link{
  text-decoration: none;
  color:$primary-color;
  font-weight: 500;
}
