.item-main-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.item-block {
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.padding-20 {
  padding: 20px;
}

.main-title {
  font-size: 22px;
  color: black;
}

.hotel-badge {
  height: 45px;
  border-radius: 22.5px;
  display: inline-flex;
  padding: 0px 18px;
  margin-left: 15px;
  align-items: center;
  background-color: #f8cc50;
  img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  span {
    color: black;
    font-size: 15px;
  }
}

.h-line {
  display: flex;
  .h-symbols {
    margin-right: 15px;
  }
  .infos {
    display: flex;
    width: 100%;
    .s-big-text {
      font-size: 17px;
    }
    .flight-area {
      text-decoration: underline;
      margin-right: 5px;
    }
    .s-mid-text {
      font-size: 16px;
    }
  }
}

.footer-container {
  display: flex;
  align-items: center;
  .book-btn {
    width: 125px;
    height: 50px;
    background: #4257ee;
    color: white !important;
    font-size: 17px;
  }
  .price {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 14px;
  }
  .price-val {
    font-size: 20px;
    font-weight: bold;
  }
  .up-badge {
    margin-left: 30px;
    border-radius: 8px;
    background-color: #fee6d7;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 35px;
    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    span {
      font-size: 16px;
      font-weight: bold;
      color: #f66a13;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  span {
    color: #4257ee;
    font-size: 17px;
    font-weight: bold;
  }
  .rating-val {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background: #4257ee;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
  }
}

.full-image-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .badge-group {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: end;
    .badge-row {
      .book-badge {
        display: inline-block;
        padding: 3px 8px;
        float: right;
        margin-bottom: 5px;
        border-radius: 5px;
        img {
          margin-right: 5px;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}

.green {
  background-color: #cbe4c8 !important;
  span {
    color: #519749 !important;
  }
}

.purple {
  background-color: #dadefc !important;
  span {
    color: #4257ee !important;
  }
}

.yellow {
  background-color: #fef9eb !important;
  span {
    color: #cda840 !important;
  }
}
