<div class="item-thumbnail">
  <div class="container w-100 row p-0 m-0">
    <div class="col-3 col-md-3 p-0">
      <img src="" class="thumb-img" />
    </div>
    <div class="col-9 col-md-9">
      <div class="t-main-container">
        <div class="t-header">
          <div class="t-main-start">
            <div class="t-location">
              Stay Athens Region, Piraeus Offer 2024 - 2025
            </div>
            <div class="t-main-title">Gallery Suites & Residences</div>
          </div>
          <div class="t-main-end">
            <p class="price">$599</p>
            <span class="pers-stay">/pers/stay</span>
          </div>
        </div>
        <div class="t-review">
          <div class="t-stars">
            <mat-icon class="yellow-star">star</mat-icon>
            <mat-icon class="yellow-star">star</mat-icon>
            <mat-icon class="yellow-star">star</mat-icon>
          </div>
          <div class="exception">Exceptional 9.6</div>
        </div>
        <div class="container w-100 p-0 m-0 categories">
          <div class="c-item">
            <mat-icon class="category-icon icon-match-centering"
              >flight</mat-icon
            >
            <span class="category-text">Flights:&nbsp;&nbsp;</span>
            <span class="category-val">Bucharest</span>
          </div>
          <div class="c-item">
            <mat-icon class="category-icon icon-match-centering"
              >hotel</mat-icon
            >
            <span class="category-text">Double room</span>
          </div>
          <div class="c-item">
            <mat-icon class="category-icon icon-match-centering"
              >restaurant</mat-icon
            >
            <span class="category-text">No Table</span>
          </div>
        </div>
        <div class="t-footer">
          <div class="extendable">
            <div class="extendable-item">
              <span class="ex-text">Included services</span>
              <span class="ex-icon">
                <i class="fa fa-caret-down"></i>
              </span>
            </div>
          </div>
          <div class="book-now">
            <button mat-button class="book-now-btn">BOOK NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
