<div class="container w-100 mw-100 p-0 mt-2 mb-2">
  <div class="item-block">
    <div class="row">
      <div class="col-12 col-md-9 padding-20">
        <div class="item-main-info">
          <div>
            <h1 class="main-title">
              Hotel Name
              <span class="hotel-badge">
                <img src="../../../assets/booking-card/star.png" />
                <span> 5 Stars </span>
              </span>
            </h1>
            <div class="h-line">
              <span class="h-symbols">
                <img src="../../../assets/booking-card/map-pin.png" />
              </span>
              <div class="infos">
                <span class="s-big-text">Santorini, Greece</span>
              </div>
            </div>
            <div class="h-line">
              <span class="h-symbols">
                <img src="../../../assets/booking-card/plane-departure.png" />
              </span>
              <div class="infos">
                <span class="flight-area"><a>Bucharest</a>,</span>
                <span class="flight-area"><a>Cluj Napoca</a>,</span>
                <span class="flight-area"><a>Timisoara</a>,</span>
                <span class="flight-area"><a>lasi</a>,</span>
                <span class="flight-area"><a>Bacau</a>,</span>
                <span class="flight-area"><a>Oradea</a>,</span>
                <span class="flight-area"><a>Suceava</a>,</span>
                <span class="flight-area"><a>Craiova</a>,</span>
                <span class="flight-area"><a>Baia</a>,</span>
                <span class="flight-area"><a>Mare</a>,</span>
                <span class="flight-area"><a>Sibiu</a>,</span>
                <span class="flight-area"><a>Tg. Mures</a>,</span>
                <span class="flight-area"><a>Brasov</a></span>
              </div>
            </div>
            <div class="h-line">
              <span class="h-symbols">
                <img src="../../../assets/booking-card/single-bed.png" />
              </span>
              <div class="infos">
                <span class="s-mid-text"
                  >Double Room Standard, Double Room Premium</span
                >
              </div>
            </div>
            <div class="h-line">
              <span class="h-symbols">
                <img src="../../../assets/booking-card/fork-and-knife.png" />
              </span>
              <div class="infos">
                <span class="s-mid-text"
                  >All Inclusive, Ultra All Inclusive</span
                >
              </div>
            </div>
            <div class="mt-4 footer-container">
              <button class="book-btn" mat-button>Book</button>
              <div class="price">
                from&nbsp;
                <span class="price-val">359$/person</span>
              </div>
              <div class="up-badge">
                <img src="../../../assets/booking-card/sale (1).svg" />
                <span>Early Booking up to 20%</span>
              </div>
            </div>
          </div>
          <div>
            <div class="rating">
              <span>Rating</span>
              <div class="rating-val">9+</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="full-image-overlay">
          <img
            src="../../../assets/booking-card/9f0577a31be1c80b39a1549a607eef9e.png"
          />
          <div class="badge-group">
            <div class="badge-row">
              <div class="book-badge green">
                <img src="../../../assets/booking-card/badge.png" />
                <span>Recommended</span>
              </div>
            </div>
            <div class="badge-row">
              <div class="book-badge purple">
                <img src="../../../assets/booking-card/diamond.png" />
                <span>Exclusivity</span>
              </div>
            </div>
            <div class="badge-row">
              <div class="book-badge yellow">
                <img src="../../../assets/booking-card/crown.png" />
                <span>Top Seller</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
