@import "src/app/theme/styles/components/_colors.scss";

.content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 64px;
  }

.checking-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 64px;
    gap: 32px;
    width: 1312px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.checkout-destination{
    font-size: 48px;
}
.checkout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    width: 80%;
}
.checkout-card-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}
.checkout-card-top{
    display: flex;
    justify-content: space-between;
    .checkout-card-title{
        font-size: 20px;
        color: #22222F;
    }
    .checkout-card-destination, .checkout-flight-no {
        font-size: 16px;
        color: #393A53;
    }
}
.checkout-card-middle{
    display: flex;
    justify-content:space-between;
    padding-top: 24px;
    .checkout-departure, .checkout-arrival {
        display: flex;
        flex-direction: column;
        .checkout-city{
            font-size: 16px;
            color: #22222F;
        }
        .checkout-airport{
            font-size: 14px;
            color: #22222F;
        }
    }
    .checkout-arrival{
        align-items: flex-end;
    }
    .checkout-company{
        .plane-info{
            display: flex;
            align-items: center;
            gap: 8px;
            border: 1px solid lightgray;
            border-radius: 32px;
            padding: 7px;
            font-size: 14px;
            .plane-info-company{
                display: flex;
                gap: 8px;
                align-items: center;
                .company-logo{
                    width: 80px;
                    height: 50px
                }
            }
        }

    }
}
.checkout-times{
    font-size: 14px;
}
.info-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #22222F;
    padding-bottom: 42px;
    .info-title-modify{
        cursor: pointer;
        color: #4257EE;
        font-size: 14px;
    }
}
.passager{
    gap: 8px;
}

.final {
    font-weight: 900;
    color: #22222F;
    font-size: 16px;
}

.passenger-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &.total{
      background-color: #4257EE;
      color: #fff;
      border-radius: 0px 0px 8px 8px;
      padding: 10px 16px;
      .passenger-text{
        color: #fff;
      }
      .final {
        font-size: 18px;
        font-weight: 400;
        color:#F8CC50;
      }
    }
  }
.tax{
    color: #B0B2C9;
    font-size: 14px;
    font-weight: 400; 
}
  .airplane-tickets-header{
    background: url("../../../../../assets/images/others/images-client/ticket.png") top  no-repeat;
    background-size: cover;
    height: 469px;
  }
.card-radius-top{
    border: 1px solid rgba(13, 68, 148, 0.24);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.card-radius-none{
    border: 1px solid rgba(13, 68, 148, 0.24);
    border-bottom: none;
    border-top: none;
}
.card-radius-bottom{
    border: 1px solid rgba(13, 68, 148, 0.24);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card-radius-bottom-no{
    border: 1px solid rgba(13, 68, 148, 0.24);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: none
}
.card-radius-top-no{
    border: 1px solid rgba(13, 68, 148, 0.24);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: none
}
.border-bottom{
    border-bottom: 1px solid rgba(13, 68, 148, 0.24);
}

.img-width {
    width: 60px;
    height: 60px;
}

.small-airport-name{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.ticket-blue{
    color:rgba(36, 57, 138, 1);
}

.ticket-green{
    color: rgba(87, 138, 36, 1);
}
.company-logo {
    width: 80px;
    height: 50px;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
}
.text-align-end {
    text-align: end;
}
.text-color {
    color: #4257EE;
}
.col-gap {
    column-gap: 32px;
}
::ng-deep .btn-secondary .p-button {
    background-color: white;
    color: black;
    border-color: black;
}
::ng-deep .btn-primary .p-button {
    background-color: #4257EE;
    color: white;
    border-color: #4257EE;
}
::ng-deep .btn-secondary .p-button:hover {
    background-color: white;
    color: black;
    border-color: black;
}
::ng-deep .btn-primary .p-button:hover {
    background-color: #4257EE;
    color: white;
    border-color: #4257EE;
}
::ng-deep .show-price {
    .p-card {
        padding: 1rem 0 0 0;
        .p-card-body {
            padding: 0;
            .p-card-content {
                padding: 0;
            }
        }
    }
    .price {
        background-color: #4257EE;
        color: white;
        h4 {
            color: white
        }
    }
}
.bags-text {
    width: 100%;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: hsla(238, 19%, 27%, 1);
}
.bag-icon {
     width: 16px;
}
.column {
    flex: 1;
}
.plane-info{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid lightgray;
    border-radius: 32px;
    padding: 7px;
}
.plane-info-company{
    display: flex;
    gap: 8px;
    align-items: center;

}
.company-logo {
    width: 80px;
    height: 50px;
}
.layover-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    background-color: #FEE6D7;
    border-radius: 8px 4px 4px 8px;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #F66A13;
    width: 100%;
    padding: 24px 12px;
    .layover-title{
        color: #F66A13;
        font-size: 16px;
        font-weight: 800;
    }
    .layover-text{
        color: #515478;
        font-size: 14px;
    }
}
.flight-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.0392156863);
    border: 1px solid #D5D6E2;
    border-radius: 8px;
    position: sticky;
    right: 3%;
    top: 3%;
    h3{
        font-size: 18px;
        font-weight: 800;
    }
}
.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    gap:16px;
    padding: 16px 16px 5px 16px;
    border-radius: 8px;
}
.bags-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
}
.passenger-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &.total{
        background-color: #4257EE;
        color: #fff;
        border-radius: 0px 0px 8px 8px;
        padding: 10px 16px;
        .passenger-text{
            color: #fff;
        }
        .final {
            font-size: 18px;
            font-weight: 400;
            color:#F8CC50;
        }
    }
}

.passenger-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
