@import "src/app/theme/styles/components/_colors.scss";

.background-container {
  width: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba($title, 0.48), rgba($title, 0.48));
  }

  img {
    height: auto;
    max-height: 560px;
    width: 100%;
    object-fit: cover;
  }

}

.content-container {
  background-color: var(--primary-background);
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 64px;

  .container:first-child {
    margin-bottom: -64px;
  }
}

.resource-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;

    &:hover {
      color: var(--primary-background);
    }
  }

  .resource-title {
    margin-bottom: 0;
    color: $primary-color;
    font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
  }

  .label-applied{
    font-size: 20px;
    border: 1px solid $active-color;
    background-color: rgba($active-color, 0.3);
    border-radius: 8px;
    padding: 0 10px;
    color:$active-color;
  }
}

.container {
  .title-section {
    margin-bottom: 36px;
    position: relative;
    font-size: 24px;
    font-weight: 600;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 160px;
      //margin: 0 auto;
      height: 2px;
      background-color: $secondary-color;
    }
  }

  .section-subtitle {
    font-size: 20px;
    font-weight: 700;
  }

  .img-icon {
    width: 16px;
    aspect-ratio: 1/1;
    margin-right: 5px;
  }

  p {
    .label-name {
      font-weight: 500;
    }
  }

}
