<div class="locations-container">
    <div class="container">
        <p class="p-title m-0">
            {{'GENERAL.POPULAR-LOCATIONS' | translate}}
        </p>

        <div class="divider"></div>

        <p class="description">
            {{'GENERAL.BOOK' | translate}}
            Cluj-Napoca, Cluj County.
        </p>

        <div class="d-flex justify-content-between flex-wrap">

            <div class="card-custom">
                <div class="image-container">
                    <button class="favourite"><i class="far fa-star"></i></button>
                    <img class="card-img-custom" src="../../../../../assets/images/others/images-client/locatii1.jpg">
                </div>

                <div class="card-body-custom">
                    <p class="title-custom">Day Trip to Corvin Castle
                        and Alba Carolina</p>
                    <div class="price-rating">
                        <div>
                            <span class="checked">$</span>
                            <span class="checked">$</span>
                            <span class="checked">$</span>
                            <span class="not-checked">$</span>
                            <span class="not-checked">$</span>
                        </div>

                        <div class="rating">
                            <p>100%<i class="far fa-smile ml-2"></i></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="more d-flex justify-content-end">
            <a>{{'GENERAL.SEE-MORE' | translate}} <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
