<!-- 
<div class="container-fluid background-container">
    <div class="container py-3">    
        <img src="../../../assets/images/logos/logo-bestinform-blue.png" class="logo-coming-soon"/>
        
    </div>
    <div class="container d-flex align-items-end ">
    
        <div class="text-container-cs pb-4">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </div>
    </div>
</div> -->


<div class="container-fluid background-class">
    <div class="container background-container py-10 flex-column justify-content-between h-100 d-flex "> 
        <div>
            <img src="../../../assets/images/logos/logo_blue_1.png" class="logo-coming-soon"/>
        </div>   
        <div class="text-container-cs d-flex flex-column pb-4">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </div>
    </div>

</div>

<div class="d-flex justify-content-center align-items-center w-100">
    <img src="assets/images/logos/fonduri-ue.png" class="w-25">
    <p class="w-25 mb-0">Pentru informaţii
        detaliate despre celelalte programe cofinanţate de Uniunea
        Europeană, vă invităm să vizitaţi <a href="https://www.fonduri-ue.ro/" target="_blank">www.fonduri-ue.ro
        </a></p>
</div>