<div class="card step-card">
    <div class="card-header">
        <span class="step-name">Step I</span>
        <span class="step-separator">-</span>
        <span class="step-category">Transport</span>
    </div>
    <div class="card-body">
        <div class="row align-items-center step-card-title">
            <div class="col">
                <p class="step-title">Car</p>
                <span class="step-info">
                    You don’t have an option selected yet. <br>
                    Access <strong class="yellow-text">“View more”</strong> to add a route to your configuration.
                </span>
            </div>
<!--            <div class="col text-right step-details">-->
<!--                <p>15.06.2023 - 18.06-2023</p>-->
<!--            </div>-->
        </div>
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <div class="item">-->
<!--                    <p class="item-title">Breakfast</p>-->
<!--                    <p class="item-hour">09:00</p>-->
<!--                    <p class="item-resource mb-0">Unassigned</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <div class="item">-->
<!--                    <p class="item-title">Lunch</p>-->
<!--                    <p class="item-hour">09:00</p>-->
<!--                    <p class="item-resource mb-0">Unassigned</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <div class="item">-->
<!--                    <p class="item-title">Dinner</p>-->
<!--                    <p class="item-hour">09:00</p>-->
<!--                    <p class="item-resource mb-0">Unassigned</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row time-period">-->
<!--            <div class="col time-period-type">-->
<!--                <span>Day</span>-->
<!--            </div>-->
<!--            <div class="col d-flex align-items-center justify-content-end time-period-number">-->
<!--                <div class="day-box">-->
<!--                    <span>1</span>-->
<!--                </div>-->
<!--                <div class="day-box">-->
<!--                    <span>1</span>-->
<!--                </div>-->
<!--                <div class="day-box">-->
<!--                    <span>1</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="card-footer">
        <a>View more</a>
    </div>
</div>
