<div class="row jobs-section mx-0">
    <div class="col">
        <div class="container">
            <p class="p-title mb-0">Job Tradings</p>
            <p class="description mb-0">Cauți un job sau pur si simplu dorești o reconversie?<br>
                Îți punem la dispoziție o listă din care poți alege ce ți se potrivește.</p>
            <div class="row d-flex justify-content-between px-0 py-4">
                <div class="col-5 col-md-2 job d-flex justify-content-between align-items-center">
                    <i class="fas fa-icons"></i>
                    <p class="mb-0">Software</p>
                </div>
                <div class="col-5 col-md-2 job d-flex justify-content-between align-items-center">
                    <i class="fas fa-icons"></i>
                    <p class="mb-0">Engineering</p>
                </div>
                <div class="col-5 col-md-2 job  d-flex justify-content-between align-items-center">
                    <i class="fas fa-icons"></i>
                    <p class="mb-0">IT</p>
                </div>
                <div class="col-5 col-md-2 job d-flex justify-content-between align-items-center">
                    <i class="fas fa-icons"></i>
                    <p class="mb-0">Retail</p>
                </div>
                <div class="col-5 col-md-2 job d-flex justify-content-between align-items-center">
                    <i class="fas fa-icons"></i>
                    <p class="mb-0">Sales</p>
                </div>
            </div>
            <button class="more">Descoperă mai mult</button>
        </div>
    </div>
</div>