<div class="location-card-container container">
        <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
            <div> 
                <p><i class="fas fa-map-marker-alt"></i>Timisoara, RO - Bucharest, RO</p>
            </div>
            <div>
                <p><i class="fas fa-calendar-alt"></i>22/07/2022 - 24/07/2022</p>
            </div>
            <div>
                <p><i class="fas fa-user-friends"></i>3 passengers</p>
            </div>
            
        </div>    
</div>