<div class="content d-flex flex-column align-items-center justify-content-between h-100 w-100">
    <p class="p-4 mb-0 upper">{{'ENROLLMENT.CONGRATS' | translate}}</p>
    <h1>{{'ENROLLMENT.ACTIVE-ACCOUNT' | translate}}</h1>
    <p class="welcome">{{'ENROLLMENT.WELCOME' | translate}}<span class="name">{{currentUser?.firstName+' '+currentUser?.lastName}}</span>!</p>

    <div class="footer-btns w-100 d-flex justify-content-between">
        <button class="back-btn" type="button">
        </button>
<!--        <button class="skip-btn" type="button" (click)="finish()">{{'ENROLLMENT.GO-TO-HP' | translate}}-->
<!--        </button>-->
        <button class="skip-btn" type="button" (click)="startTrial()">{{'ENROLLMENT.TRIAL' | translate}}
        </button>
        <button class="next-btn" type="button">
        </button>
    </div>

</div>