.place-card {
  width: 225px;
  height: 275px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  position: relative;
  margin-right: 12px;
  .event-disabled {
    position: absolute;
    background-color: rgba(000, 000, 000, 0.6);
    height: 100%;
      width: 100%;
    .disabled-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: #fff;
      .disabled-message-text{
        font-size: 18px;
      }
  
      .image-disabled {
          background-image: url("../../../assets/icons/lock.svg");
          background-position: center;
          background-repeat: no-repeat;
          height: 30%;
          width: 100%;
      }
    }
  }
}
.place-card-footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0.6) 25%,
    #111118 85%
  );
}
.place-card-image {
  img {
    object-fit: cover;
    flex-shrink: 0;
    width: 225px;
    height: 275px;
  }
  object-fit: cover;
  flex-shrink: 0;
}
.place-card-image,
.place-card-description {
  grid-area: 1/1;
}
.place-card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: end;
}

.place-card-title {
  h2 {
    color: white !important;
    font-size: 20px !important;
  }
  padding-top: 10px;
  color: white !important;
  font-size: 20px !important;
}
.place-card-link {
  a {
    color: #ffcc04 !important;
    size: 16px !important;
    text-decoration: none;
  }
  padding-bottom: 10px;
}
