@import "../../../../theme/styles/components/colors";

.section-title.public-homepage-section-title {
  text-align: left;
  text-transform: unset;
  color: white;
}

h2, .mat-icon-xlg {
  color: $secondary-color;
}

p {
  color: white;;
}

.section-title.public-homepage-section-title::after {
  display: none;
}

.phb-benefits {
  background-color: $primary-color;
  padding-top: 96px;
  padding-bottom: 96px;
}

.phb-benefits p {
  color: $secondary-color;
  font-size: 16px;
  // height: 25.6px;
  font-weight: 300;
  color: white;
  max-width: 400px;
}

.phb-benefits h2 {
  color: $secondary-color;
  font-size: 24px;
  line-height: 38.4px;
  font-weight: 700;
  align-items: center;
  display: flex;
}

.col-title {
  padding-top: 48px;
  padding-bottom: 48px;
}

.phb-benefits .col.col-title h1 {
  color: white;
  font-size: 32px;
  line-height: 51px;
  font-weight: 700;
  font-style: normal;
}

.section {
  margin-top: 0px;
}

//benefits icon
.phb-benefits .public-homepage-section-title .benefits-section-class .mat-icon {
  color: $secondary-color;
  width: 20px !important;
  height: 11.15px;
  align-items: center;
}

//gallery section
//text

.gallery-text-section h1 {
  color: $title;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
}

.gallery-text-section p {
  color: $paragraph;
  font-size: 24px;
  font-weight: 300;
  line-height: 38.4px;
}

.file-name {
  display: flex;
  position: absolute;
  bottom: 8px;
}

.left-video,
.mobile-video {
  position: relative;
  //width: 100%;
}

.file-name {
  position: absolute;
  bottom: 0;
  //   background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* #4257EE see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  //   font-weight: 300;
  padding: 0 4px;
  text-align: left;
  align-items: flex-end !important;
  opacity: 1;
}

.file-name span {
  color: white;
  // bottom: 0!important;
  // right: 0!important;
  font-size: 12px;

}

.icon {
  cursor: pointer;
  color: white;
  // font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


// free trial section

.free-trial-section-hpb p {
  color: $primary-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;
}

.free-trial-text.col h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 51.2px;
}

.free-trial-text.col h1.second-title-trial {
  font-weight: 700;
  font-size: 72px;
  line-height: 115.2px;
}

.free-trial-text.col p {
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
}

.free-trial-section-hpb h2, .free-trial-section-hpb p {
  color: $primary-color;
}

.free-trial-section-hpb .section-title,
.free-trial-section-hpb p {
  text-align: right;
  text-transform: unset;
  color: $primary-color;
}

.free-trial-section-hpb .row {
  justify-content: flex-end;
}


.free-trial-section-hpb {
  background-color: #eff0f5
}

img.d-block.w-100 {
  height: 130px;
  object-fit: cover;
}

//became provider
.became-provider p,
.became-provider h1 {
  text-align: center;

}

.became-provider-container .d-flex {
  justify-content: center;
}

.became-provider p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  max-width: 425px;

  padding: 72px 0px;
}

.became-provider {
  background-image: linear-gradient(rgba(36, 56, 138, 0.836), rgba(36, 56, 138, 0.836)), url('../../../../../assets/images/others/devino-provider-min.jpg');
}

.became-provider h1.section-title.py-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
  font-style: normal;
  padding-top: 70.5px !important;
  //padding-bottom: 72px!important;
}

.became-provider button {
  width: fit-content;
  margin: 0 auto;
}


.parent {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 24px;
}

.div1 {
  grid-area: 1 / 1 / 5 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.div4 {
  grid-area: 3 / 2 / 4 / 3;
}

.div5 {
  grid-area: 4 / 2 / 5 / 3;
}

video {
  width: 100%;
  height: 650px;
  max-height: 650px;
  object-fit: cover;
  border-radius: 8px;
}


vm-player {
  // --vm-control-scale: 1.75;
  --vm-player-border-radius: 8px;

  // --vm-player-height:700px;
}

.video-img-container.parent img.d-block {
  border-radius: 8px;

}

.wrap-videos {
  display: none;
}

.free-trial-button-container {
  justify-content: flex-end;
}

//-----------------------mobile------------------------------ -->
@media screen and (max-width: 768px) {
  //benefits
  .phb-benefits .row {
    flex-direction: column;
  }
  .phb-benefits .col-6 {
    width: 100%;
    padding-bottom: 24px;
  }
  .phb-benefits {
    padding: 48px 24px;
  }

  //benefits title
  .col.col-title {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .col.col-title h1 {
    color: white;
    font-size: 24px;
    line-height: 51px;
    font-weight: 700;
    font-style: normal;
  }

  .phb-benefits .col-6 h2 {
    color: #FFCC29;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
  }

  .phb-benefits .col-6 h2 mat-icon {
    // color: #FFCC29;
    // width: 12px;
    height: 20px;
    left: 23px;
    // transform: rotate(90deg);
  }

  .phb-benefits .col-6 p {
    color: white;
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 300;

  }


  //gallery
  .gallery-text-section {
    padding: 48px 24px;
  }

  .gallery-text-section h1.col-title {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }

  // .gallery-text-section h1.section-title.py-2.col-title{
  //     color: $title;
  //     font-size: 32px!important;
  //     line-height: 51px;
  //     font-weight: 700;
  // }

  .wrap-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .mobile-video {
    width: 42%;
    margin: 10px;
  }

  .left-video {
    display: none;
  }

  .parent {
    display: flex;
    flex-direction: column;
  }

  .wrap-videos .mobile-video img {
    height: 98px;
    object-fit: cover;
  }

  .free-trial-img {
    display: none;
  }

  .free-trial-text.col h1,
  .free-trial-text p {
    text-align: center;
  }

  .free-trial-text.col h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
  }

  .free-trial-text.col h1.second-title-trial {
    font-weight: 700;
    font-size: 72px;
    line-height: 86.4px;
  }

  .free-trial-text.col p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
  }

  //????????????????????
  .free-trial-section-hpb .free-trial-text .button.btn-long.btn-color-outline {
    min-width: 100%;
  }

  .free-trial-section-hpb,
  .became-provider {
    padding: 48px 24px;
  }


  // .row.d-flex.justify-content-center,
  .d-flex.justify-content-end {
    width: 100%;
  }


  button.btn-long.btn-white-fill,
  button.btn-long.btn-color-outline {
    width: 100%;
  }

  .became-provider .container div.row.d-flex h1,
  .became-provider .container div.row.d-flex p {
    margin-right: 0px;

  }

  .became-provider-container {
    //padding: 0 40px;

  }

  // .became-provider .row.d-flex.justify-content-center h1.section-title{
  //     margin-top: 30px!important;
  //     margin-bottom: 30px!important;
  //  }

  .became-provider .became-provider-container h1.section-title {
    font-size: 24px !important;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    padding-top: 70.5px !important;

    //padding-bottom: 72px!important;
  }

  .became-provider .row.d-flex p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
  }

  .became-provider-container .became-provider-title h1,
  .became-provider-container .became-provider-title p {
    text-align: left;
  }

  .became-provider-container .d-flex {
    justify-content: center;
  }
}

//-------------------------tablets----------------------------------------------------
@media screen and (min-width: 769px) and (max-width: 1023px) {
  //benefits
  .phb-benefits .row {
    flex-direction: column;

  }
  .phb-benefits .col-6 {
    width: 100%;
  }
  .phb-benefits {
    padding: 48px 24px;
  }

  .phb-benefits p {
    color: $secondary-color;
    font-size: 16px;
    // height: 25.6px;
    font-weight: 300;
    color: white;
    max-width: 100%;
  }

  .col.col-title {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  //gallery
  .gallery-text-section {
    padding: 48px 24px;
  }


  .wrap-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .mobile-video {
    width: 22%;
    margin: 10px;
  }

  .left-video {
    display: none;
  }

  .parent {
    display: flex;
    flex-direction: column;
  }

  .wrap-videos .mobile-video img {
    height: 98px;
    object-fit: cover;
  }

  .free-trial-img {
    display: none;
  }

  .free-trial-text.col h1,
  .free-trial-text p {
    text-align: center;
  }

  .free-trial-text.col h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
  }

  .free-trial-text.col h1.second-title-trial {
    font-weight: 700;
    font-size: 72px;
    line-height: 86.4px;
  }

  .free-trial-text.col p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
  }


  .free-trial-section-hpb,
  .became-provider {
    padding: 48px 24px;
  }


  .free-trial-button-container {
    justify-content: center;
  }


  .became-provider .container div.row.d-flex h1,
  .became-provider .container div.row.d-flex p {
    margin-right: 0px;

  }

  .became-provider .row.d-flex h1.section-title {
    margin-top: 30px !important;
    margin-bottom: 30px !important;

  }

  .became-provider-container .d-flex {
    justify-content: center;
  }

}

//-------------------------------------------------------------------------------------
@media screen and (min-width: 1023px) and (max-width: 1399px) {

  img.d-block.w-100 {
    height: 88px;
    object-fit: cover;
  }

  .became-provider-container .d-flex {
    justify-content: center;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  img.d-block.w-100 {
    height: 108px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .free-trial-text {
    padding-right: 36px;
  }

  .free-trial-img {
    padding-left: 36px;
  }
}

:host::ng-deep .giveaway {

  .p-chip.p-component {
    font-size: 14px;
    padding: 1rem;
    color:  #4257EE;
    font-weight: bold;
    border-radius: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  background-color: #4257EE;
  color: #FFFFFF;
  .p-chip {
    background-color: #FFFFFF;
  }
}
::ng-deep .register-button {
  .p-button, .p-button:hover {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 100px;
  }
  .p-button {
    border: 0px;
  }

  .p-button-label {
    color: #4257EE;
  }
}
::ng-deep .register-partner-button {
  .p-button, .p-button:hover {
    width: 100%;
    background-color: #4257EE;
    border-radius: 100px;
  }

  .p-button-label {
    color: #FFFFFF;
  }
}
.giveaway-footer {
  background-color: #4257EE;
  color: white;
  padding: 80px 60px!important;
  bottom: 0;
  width: 100%;
  padding: 3vw;

  .container-footer {
    display: flex; flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .menu-items {
    display: flex; flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .menu-item {
    font-size: 16px;
    font-family: "Roboto", Helvetica, sans-serif;
    color:#FBFFFE;
    text-decoration: unset;
  }

  .width {
    color: white;
    opacity: 100%;
    margin: 0;
    width: 100%;
  }

  .container {
    display: flex; flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .contact-and-social {
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .contact {
      h1 {
        font-size: 20px; // Adjust font size
        margin-bottom: 10px; // Add spacing between heading and paragraph
      }

      p {
        margin: 0; // Reset default margin
        a {
          color: white; // Ensure links are visible on #4257EE background
          text-decoration: none; // Remove underlines from links
          &:hover {
            text-decoration: underline; // Add underline on hover
          }
        }
      }
    }

    .social-media-icons {
      display: flex; flex-wrap: wrap;
      justify-content: flex-end; // Align icons to the right
      margin-top: 10px;

      // Styles for social media icons
      i {
        justify-content: space-between;
        color: white; // Adjust icon color for visibility
        font-size: 40px; // Increase icon size
        margin-left: 20px; // Add spacing between icons
        cursor: pointer; // Change cursor to pointer on hover
        &:hover {
          opacity: 0.8;
        }}
    }
  }

  .menu-links {
    // Styles for menu links section
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px; // Add spacing between sections

    a {
      font-size: 16px; // Adjust font size for menu links
      text-decoration: none; // Remove underlines from links
      color: white; // Link color
      margin: 0 10px; // Add spacing between links
      &:hover {
        text-decoration: underline; // Add underline on hover
      }
    }
  }

  .additional-info {
    // Styles for additional info like language selector
    margin-top: 20px; // Add spacing between sections
    select {
      background-color: #111; // Adjust background color for select element
      color: white; // Text color
      border: none; // Remove border
      padding: 5px; // Add padding
      font-size: 16px; // Adjust font size
    }
  }

  a {
    color: white; // General link color
  }
  // Additional styling as needed
}

@media (max-width: 1032px) {

  .container-footer {
    gap: 20px;
    padding-bottom: 20px!important;
  }
  .giveaway-footer {
    padding: 39px 40px !important;
    .menu-items {
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }
    .menu-item {
      margin: 0!important;
    }
    .menu-links {
      margin-top: 20px;
    }
  }

}
::ng-deep .fab {
  font-size: 2rem;
}
.social-media a {
  text-decoration: none;
  color: #4257EE;
}

::ng-deep .p-carousel-container .p-carousel-prev {
  position: absolute;
  left: 5%;
}
::ng-deep .p-carousel-container .p-carousel-next {
  position: absolute;
  right: 5%;
}

::ng-deep .p-carousel-prev .p-carousel-item {
  width: 100%;
  height: 80vh;
}

