@import "../../theme/styles/components/colors";

p {
  margin-bottom: 0;
}

.row-gap-24 {
  row-gap: 24px;
}

.page-background {
  background-color: var(--primary-background);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
}

.page-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #24398A;
  margin: 48px auto;
}

.column-container {
  border: 1px solid rgba($primary-color, 0.16);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.special-request-container {
  margin: 0 -20px;
  padding: 20px;
  background: rgba(255, 244, 142, 0.24);

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: $title;
  }

  p {
    color: $paragraph;
  }
}

.section-title {
  font-weight: 700;
  font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $primary-color;
  margin-bottom: 40px;

  i {
    margin-right: 24px;
  }
}

.details-group-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-group {
  p {
    color: $paragraph;
    letter-spacing: -0.02em;
    margin: 0;
    font-size: 16px;
  }
  p {
    font-weight: 700;
    line-height: 140%;
  }
  p:first-child {
    font-weight: 400;
    line-height: 160%;
    opacity: 0.56;
  }
}

.resource-img-container {
  width: 100%;
  height: 100%;
  max-height: 222px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.checkout-details-container {
  border: 1px solid rgba($primary-color, 0.16);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.checkout-items {
  padding: 20px 20px 8px;
  display: flex;
  flex-direction: column;
}

.text-you-selected {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $paragraph;
}

.checkout-total-items {
  padding: 8px 20px;
  background: linear-gradient(0deg, rgba($primary-color, 0.08), rgba($primary-color, 0.08)), #FFFFFF;
}

.total-items-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: $paragraph;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-items-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: $paragraph;
  opacity: 0.72;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-total-price {
  padding: 8px 20px;
  background: $primary-color;
}

.total-price-bold {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-background);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;

  .line-through-price {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-background);
    opacity: 0.72;
  }
}

.loyalty-points-container{
  p{
    margin-bottom: 0px;
  }
}
