<div class="payment-container">
    <div class="flex-grow-1">
        <app-stripe-payment [sessionId]="sessionId"></app-stripe-payment>
<!--        <div class="spinner-wrapper" id="preloader" *ngIf="showPreloader && !error">-->
<!--            <div class="loader-img">-->
<!--                <img-->
<!--                        src="assets/images/logos/logo-vector-blue.svg"-->
<!--                        alt="bestinform-logo"-->
<!--                        height="40"-->
<!--                />-->
<!--                <span class="logo-text-blue">Bestinform</span>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
