<div class="experiences-container">
    <div class="container">
        <p class="p-title">
            {{'GENERAL.INSPIRE' | translate}}
            <span>Bestinform</span>
        </p>
        <div class="row">
            <div *ngFor="let image of [1,2,3,4]" class="col-12 col-md-6 col-lg-3">
                <div class="card-custom-blue">
                    <div class="image-container-blue">
                        <button class="favourite">
                            <i class="far fa-star"></i>
                        </button>
                        <img class="card-img-custom" src="../../../../../assets/images/others/cardblue.jpg">
                    </div>
                    <div class="card-body-custom-blue">
                        <p class="title-custom-blue">From Bestinform</p>
                        <p class="description-custom-blue">The best outdoor activity in every Romania state</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
