<div class="card product-card" class="{{list ? 'card-list' : 'full-card'}}">
    <div class="card-header">
        <h4>{{serviceData?.name}}</h4>
    </div>
    <div class="card-body d-flex justify-content-between">
        <div class="info w-100 d-flex flex-row justify-content-between p-3">
            <div class="left-side d-flex flex-column justify-content-start">
                <p class="mb-0"><span>Denumire: </span> {{serviceData?.name}}</p>
                <p class="mb-0"><span>Descriere: </span> {{serviceData?.description}}</p>
            </div>

            <div class="price px-2 d-flex flex-column align-items-center justify-content-center">
                <p class="sum mb-0">{{serviceData?.price}}</p>
                <p class="details mb-0">EUR</p>
            </div>

        </div>


    </div>
</div>