@import "/src/app/theme/styles/components/colors";

.error-msg {
  color: red;
}

.page-header {
  margin-top: 64px;
  margin-bottom: 40px;
  row-gap: 1rem;

  h2 {
    margin: 0;
    color: $primary-color;
    font-weight: 700;
  }

  div {
    row-gap: 1rem;
  }
}


.card > div {
  background-color: var(--primary-background);
}

.template-ae.card {
  margin-bottom: 1rem;
  padding: 24px;


  .card-header {
    border-bottom: none;

    .p-title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .card-body {
    padding: 0;

    .form-title {
      font-size: 24px;
      font-weight: 600;
      color: $primary-color;
      // margin-bottom: 47px;
    }

    .row {
      row-gap: 1.5rem;
    }

    .config-group {
      margin-bottom: 47px !important;
    }
  }

}

.description {
  color: rgba($paragraph, 0.5);
  margin-bottom: 47px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.template-modules, .voucher {
  border: 1px solid rgba(36, 57, 138, 0.16);
  border-radius: 24px;
  padding: 50px;
  margin-bottom: 47px;

  @media(max-width: 768px) {
    padding: 25px;
  }

}


.content {
  padding: 25px;
}


//------------------------------------- Switches -------------------------------------
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $active-btn-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $active-btn-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//-------------------------------------SWITCHES END-------------------------------------

//-------------------------------------CHECKBOX-------------------------------------
.checkbox-container {
  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
      color: $title;
    }
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: var(--primary-background);
    border: 1px solid rgba(35, 31, 32, 0.24);
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--primary-background);
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: white;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $primary-color;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

//-------------------------------------CHECKBOX END-------------------------------------

//-------------------------------------MODAL-------------------------------------

.modal-card.card > div {
  background-color: var(--primary-background);
}

.card-template.card {
  border: 1px solid rgba($primary-color, 0.24);
  border-radius: 8px;
  height: 160px;
  max-height: 160px;
  overflow: hidden;
  overflow-y: auto;

  .card-body {
    gap: 1rem;
    letter-spacing: -0.02em;
    line-height: 140%;
    color: $primary-color;

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 4px;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 5px;
    }

  }

  .card-footer {

    .row {
      row-gap: 1rem;
    }
  }
}

.modal-card.card {
  padding: 1.5rem;

  .card-header {
    h3 {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.02em;
      color: $primary-color;
    }
  }

  .card-body {
    & > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: $paragraph;
    }

    .text-clickable {
      text-decoration: none;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .card-footer {

    .row {
      row-gap: 1rem;
    }
  }
}


.fa-times-circle {
  color: $primary-color;
}

.blue-scroll-bar {

  &::-webkit-scrollbar {
    width: 44px;
    height: 100px;
    border-radius: 100px;

  }

  &::-webkit-scrollbar-thumb {
    //background-color: var(--primary-background);
    background-color: rgba($primary-color, 0.6);
    border-radius: 100px;
    border: 20px solid transparent;
    background-clip: content-box;

    &:hover {
      background-color: rgba(#4257EE, 0.12);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($primary-color, 0.08);
    border-radius: 100px;
    border: 20px solid var(--primary-background);
    background-clip: content-box;


  }
}

//------------------------------------- Configurator Tab - Categories/Attributes Section --------------------------
.attributes-tab-body {
  padding: 25px;

  .category-name {
    display: block;
    font-weight: 700;
    font-size: 20px;
  }

  .attribute-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba($primary-color, 0.24);
    border-radius: 50px;
    padding: 15px 25px;

    span, i {
      font-size: 16px;
    }

    .remove-attribute-btn {
      display: flex;
      background: transparent;
      border: none;
    }
  }

  .add-attribute-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($primary-color, 0.24);
    border-radius: 50px;
    padding: 15px 25px;
    width: 100%;
    font-size: 16px;
  }
}


.template-modules .d-flex {
  padding-right: 57px;
}
