<!-- Angular Template - giveaway-form.component.html -->
<!-- giveaway-form.component.html -->
<div class="giveaway-form-container col-xl-8 offset-xl-2 col-sm-12 mt-5">
    <form (ngSubmit)="onSubmit()" #giveawayForm="ngForm">
        <div class="d-flex flex-column justify-content-center align-items-center giveaway-header">
            <div class="d-flex w-100" [ngClass]="{'flex-row' : isDekstop, 'flex-column': !isDekstop}">
                <div [ngClass]="{'col-6': isDekstop, 'col-12': !isDekstop}">
                    <div class="d-flex justify-content-center align-items-center" style="text-align: center" [style.font-size]="isDekstop ? '26px' : '1rem'">
                        <span class="material-symbols-outlined">calendar_month</span>
                        <span><b>Perioada de înscriere</b> 8 Aprilie - 22 Aprilie 2024</span>
                    </div>
                </div>
                <div [ngClass]="{'col-6': isDekstop, 'col-12': !isDekstop, 'mt-3': !isDekstop}"  [style.font-size]="isDekstop ? '26px' : '1rem'">
                    <div class="d-flex justify-content-center align-items-center"  style="text-align: center">
                        <span class="material-symbols-outlined">event_available</span>
                        <span><b>Date de extragere</b> 23 Aprilie 2024</span>
                    </div>
                </div>
            </div>

            <h2 class="mt-5" [style.font-size]="isDekstop ? '2.5rem' : '1.25rem'">{{ 'GIVEAWAY.REGISTRATION_FORM' | translate}}</h2>
            <p class="text-hero" [style.font-size]="isDekstop ? '2.25rem' : '1rem'">
                {{ 'GIVEAWAY.REGISTRATION_FORM_DESCRIPTION' | translate}}
            </p>
        </div>
        <div [ngClass]="{'large' : isDekstop, 'small': !isDekstop, 'mt-3': true}">
            <div class="form-field">
                <mat-form-field class="width">
                    <mat-label class="label">{{'USER.LASTNAME' | translate}}</mat-label>
                    <input
                            [(ngModel)]="firstName"
                            name="firstName"
                            type="text"
                            matInput
                            required
                    />
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field class="width">
                    <mat-label class="label">{{'USER.FIRSTNAME' | translate}}</mat-label>
                    <input
                            [(ngModel)]="lastName"
                            name="lastName"
                            type="text"
                            matInput
                            required
                    />
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field class="width">
                    <mat-label class="label">Email</mat-label>
                    <input
                            [(ngModel)]="email"
                            name="email"
                            type="email"
                            matInput
                            required
                    />
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field class="width">
                    <mat-label class="label">{{'FIELD.PASSWORD' | translate}}</mat-label>
                    <input
                            [(ngModel)]="password"
                            name="password"
                            (ngModelChange)="(passwordsDoNotMatch)"
                            type="password"
                            maxlength="16"
                            matInput
                            required
                    />
                    <div class="password-tooltip">
                        <p>{{ 'ERROR.PASSWORD_CRITERIA' | translate }}</p>
                        <ul>
                            <li>{{ 'ERROR.PASS-MIN-MAX-LENGTH' | translate}}</li>
                            <li>{{ 'ERROR.PASS-UPPERCASE' | translate}}</li>
                            <li>{{ 'ERROR.PASS-LOWERCASE' | translate}}</li>
                            <li>{{ 'ERROR.PASS-DIGIT' | translate}}</li>
                            <li>{{ 'ERROR.PASS-SPECIAL-CHAR' | translate}}</li>
                        </ul>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field class="width">
                    <mat-label class="label">{{'FIELD.CONFIRM-PASSWORD' | translate}}</mat-label>
                    <input
                            [(ngModel)]="confirmPassword"
                            name="confirmPassword"
                            (ngModelChange)="(passwordsDoNotMatch)"
                            type="password"
                            maxlength="16"
                            matInput
                            required
                            (blur)="checkPasswords()"
                    />
                    <div *ngIf="passwordsDoNotMatch" class="custom-error-message">
                        {{'FIELD.NO-MATCH' | translate}}
                    </div>
                </mat-form-field>
            </div>
        </div>



        <div class="checkbox-field">
            <mat-checkbox
                    [(ngModel)]="termsConditions"
                    name="termsConditions"
                    class="example-margin"
                    required
                    [ngModelOptions]="{ standalone: true }"
                    #termsConditionsCheck="ngModel"
            >
        <span class="white-space mt-5" [ngStyle]="{'font-size' : isDekstop ? '2rem' : '1rem'}"
        >* {{ 'GIVEAWAY.CONSENT' | translate}}
          <a href="/content/privacy-policy"> {{ 'GIVEAWAY.CONFIDENTIALITY_TERMS' | translate}}</a> {{ 'GIVEAWAY.AND_WITH' | translate}}
          <a href="/content/giveaway-rules">{{ 'GIVEAWAY.GIVEAWAY_RULES' | translate}}</a>
        </span>
            </mat-checkbox>
        </div>

        <div class="d-flex flex-column required-description mt-5" [ngStyle]="{'font-size' : isDekstop ? '2rem' : '1rem'}">
            <div>{{ 'GIVEAWAY.REQUIRED_1' | translate}}</div>
            <div class="mt-3">{{ 'GIVEAWAY.REQUIRED_2' | translate}}</div>
        </div>

        <div class="d-flex justify-content-center mt-5" [ngClass]="{'col-4': isDekstop, 'offset-4': isDekstop, 'col-10': !isDekstop, 'offset-1': !isDekstop}">
            <p-button [label]="'GIVEAWAY.REGISTER' | translate" class="submit-button w-100" (onClick)="onSubmit()"
                      [disabled]="!giveawayForm.form.valid || !termsConditions || passwordsDoNotMatch">
            </p-button>
        </div>

        <div *ngIf="responseMessage" class="alert alert-success">
            {{ responseMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </form>
</div>
<p-dialog header="Header" [(visible)]="showPopUp" [style]="{width: isDekstop ? '75vw' : '100vw', height: '80vh'}">
    <span class="material-symbols-outlined close-button" (click)="closePopUp()" [ngClass]="{'modal-button' : isDekstop}">close</span>
    <img [src]="registrtationSuccesful" class="w-100 h-100"/>
</p-dialog>
