<div class="card ticket-card">
    <div class="card-body d-flex justify-content-between">
        <div class="info">
            <p class="mb-0"><span>Denumire: </span><br> {{ticketData?.name}}</p>
            <p class="mb-0"><span>Preț: </span><br>  {{ticketData?.regularPrice}}</p>
<!--            <p class="mb-0"><span>Preț de weekend: </span><br>  {{ticketData?.weekendPrice}}</p>-->
            <p class="mb-0"><span>Nr. tickete disponibile: </span> <br> {{ticketData?.ticketsLimit}}</p>
        </div>


    </div>
</div>
