@import "src/app/theme/styles/components/_colors.scss";

.card-list{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 0;

  border: 1px solid $primary-color;
  background-color: $primary-color;

}

.ticket-card{
  margin-bottom: 10px;

  .card-header{
    background-color: $primary-color;
    height: 50px;

    h4{
      color: $background-primary!important;
      margin-bottom: 0!important;
    }
  }

  .card-body{
    .info{
      padding-right: 16px ;
      p{
        span{
          font-weight: 700;
        }
      }
    }

    .price{
      border: 1px solid $primary-color;
      border-radius: 8px;
      width: 152px;
      height: 113px;
      color: $primary-color;
      font-weight: 700;
      text-align: center;

      .sum{
        font-size: 48px;
        line-height: 55px ;
      }

      .details{
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}