<div class="container-fluid client-general-box">
    <div class="container">
        <app-dashboard-header pageTitleOne="{{ 'GIVEAWAY.GIVEAWAY_RULES' | translate}}"
                              pageSubTitleOne="{{ 'GIVEAWAY.GIVEAWAY_INFO_RULES' }}">
        </app-dashboard-header>

        <div class="py-3 content-class" *ngIf="ro">
            <h3>SECȚIUNEA 1. ORGANIZATORUL TOMBOLEI</h3>
            <p>Sect.1.1. Tombola este organizată de BESTINFORM Travel App, denumit în continuare Organizator, în
                conformitate cu prevederile prezentate în prezentul Regulamentul Oficial al Tombolei (denumit în
                continuare “Regulament Oficial”/”Regulament”)..</p>
            <h3>SECȚIUNEA 2. DURATA ȘI ARIA DE DESFĂȘURARE A TOMBOLEI </h3>
            <p>Articolul 2.1: Această tombolă se desfășoară în România, iar participarea este deschisă tuturor
                persoanelor din această țară. Perioada de înscriere la tombolă se desfășoară între 8 Aprilie – 24
                Aprilie 2024, fiind găzduită exclusiv pe website-ul: <a>www.bestinform.eu</a></p>
            <h3>SECȚIUNEA 3. DREPTUL DE PARTICIPARE</h3>
            <p>Sect.3.1. La această tombolă poate participa orice cetățean român care deține un cont real pe platformele
                de social media și care îndeplinește criteriile de participare descrise în continuare în prezentul
                regulament. Nu au dreptul de a participa la acest tombolă angajații BESTINFORM.</p>
            <h3>SECȚIUNEA 4. PREMIILE TOMBOLEI</h3>
            <p>Sect.4.1. Premiul tombolei este pus la dispoziție de către Organizator:
                <br>• Cazare pentru două persoane la Hotel Nyota Mamaia pentru 2 nopți 1-3 Mai 2024.
                <br>• Masă rezervată la LOFT Mamaia pentru 8 persoane cu 8 brățări incluse (*Atenție! Brățările de acces
                nu pot fi vândute sau transmise altor persoane în afară de participanții la masă*) și consumație inclusă
                cu o limită de 7500 lei. (***Orice sumă ce depășește contravalorea oferită cadou de Bestinform în
                cuantum de 7500 lei, va fi suportată de câștigător.)

            </p>
            <p>Sect.4.2. Valoarea totală a premiului oferit de MB MODELS SRL este de aproximativ 3000 Euro. </p>
            <p>Sect.4.3. Tombola va avea un singur câștigător, acesta beneficiind de premiile puse la dispoziție de
                către Organizator, așa cum sunt detaliate în SECȚIUNEA 4.1 </p>
            <p>Sect.4.4. Premiul se va acorda prin tragere la sorți dintre participanții care au îndeplinit condițiile
                de participare așa cum sunt descrise în SECȚIUNEA 5. </p>
            <h3>SECȚIUNEA 5. MECANISMUL CONCURSULUI</h3>
            <p>Sect.5.1. Tombola se desfășoară exclusiv pe websiteul (<a>https://www.bestinform.eu</a>) în perioada
                menționată
                la SECȚIUNEA 2.
                <br>Sect.5.2. Pentru a participa la tombolă, utilizatorii trebuie să realizeze cumulative următoarele
                acțiuni:
                <br>● Să nu încalce în niciun fel prezentul Regulament oficial;
                <br>● Să nu conțină detalii defăimătoare, cuvinte sau simboluri care sunt jignitoare în general sau în
                mod direct pentru persoane de o anumită rasă, entitate, religie, orientare sexuală sau grup
                socio-economic sau mesaje ilegale, imorale sau antisociale;
                <br>● Să nu conțină amenințări către orice terță persoană, loc, afacere sau grup, să nu lezeze
                intimitatea, dreptul la viață privată și/sau alte drepturi ale oricărei terțe persoane, firmă sau
                entitate și nu trebuie să încalce în niciun alt mod legile și reglementările aplicabile;
                <br>● Să nu conțină referiri sau mesaje cu privire la mărci înregistrate sau neînregistrare;
                <br>● Să nu folosească expresii protejate prin drepturi de autor sau alte drepturi de proprietate
                intelectuală;
                <br>● Să nu promoveze mărcile de țigarete sau alcool sau consumul de tutun și alcool;
                <br>● Să nu conțină mesaje adresate minorilor și să nu facă referire la minori;
                <br>● Să nu includă date cu caracter personal aparținând lui sau altor persoane.

                Participantul care nu îndeplinește condițiile enumerate mai sus, va fi descalificat și nu va fi luat în
                considerare în vederea includerii în tragerea la sorți și/sau și a desemnării participanților
                câștigători.


                <br>Sect.5.4. Nu vor fi luate în considerare:

                <br>● Persoanele care nu au împlinit vârsta de 18 ani.

            </p>
            <h3>SECȚIUNEA 6. ANUNȚAREA CÂȘTIGĂTORULUI ȘI ACORDAREA PREMIULUI</h3>
            <p>
                <br>Sect. 6.1. În cursul zilei de 25.04.2024 se va realiza tragerea la sorți. Pentru aflarea
                câștigătorului se va folosi sistemul independent Bestinform. Rezultatele tragerii la sorți vor fi
                disponibile ulterior pentru consultare, pe site-ul menționat și pe paginile de Social Media ale
                Bestinform. Sistemul de extragere folosit de Bestinform garantează neutralitatea rezultatelor și lipsa
                intervenției umane în alegerea câștigătorilor.
                <br>Sect. 6.2. Se va extrage 1 câștigător și 5 rezerve. În cazul în care câștigătorul nu poate fi
                contactat pentru stabilirea detaliilor de acordare a premiilor sau refuză premiul sau beneficiarul final
                al premiului nu îndeplinește criteriile menționate la SECȚIUNEA 4, se va proceda la contactarea
                rezervelor, în ordinea extragerii acestora.
                <br>Sect. 6.3. Câștigătorul va fi anunțat prin email,
                <br>Sect. 6.4. Pentru validarea câștigătorului, acesta va trebui să trimită un email cu datele personale
                la adresa contact@bestinform.eu. Informațiile necesare sunt: nume, prenume, vârstă, număr de telefon,
                oraș de reședința, în vederea contactării ulterioare de către reprezentanții Organizatorului.
                <br>Sect. 6.5. Câștigătorul are la dispoziție 24 de ore de la dată anunțării să trimită informațiile
                personale pentru a putea fi validat și pentru a se putea stabili detaliile intrării în posesia
                premiului. În cazul în care câștigătorul nu poate fi validat în termen de 24 de ore, se va proceda la
                contactarea rezervelor, în ordinea în care au fost extrase. Acestea au la dispoziție un termen de 24 ore
                pentru validare prin trimiterea datelor personale necesare.
                <br>Sect. 6.6. În circumstanțe care nu depind de Organizator, acesta nu își asumă responsabilitatea
                pentru imposibilitatea acordării premiilor.

            </p>
            <h3>SECȚIUNEA 7. RESPONSABILITATE</h3>
            <p>
                <br>Sect.7.1. Organizatorul va acordă premiul în conformitate cu specificațiile acestui Regulament
                oficial. Orice hotărâre asupra tombolei luată de către Organizator este finală și nu se supune nici unui
                recurs.
                <br>Sect.7.2. Organizatorul nu se va implica în niciun schimb de corespondență și nici nu se vor angaja
                în vreo comunicare cu privire la tombolă, câștigători, probleme procedurale sau rezultatele tombolei,
                exceptând cele menționate prin Regulamentul oficial.
                <br>Sect.7.3. Participantul înțelege și garantează că nu va posta comentarii care:
                <br>● încalcă, în orice mod, legile aplicabile;
                <br>● reprezintă o încălcare a drepturilor de autor, a dreptului la imagine sau a dreptului la protecția
                datelor cu caracter personal aparținând unei terțe persoane;
                <br>● conțin referiri sau trimiteri la mărci înregistrate sau neînregistrate;
                <br>● promovează mărci de produse de tutun sau alcool sau consumul de tutun sau alcool;
                <br>● conțin și fac referire la detalii defăimătoare, cuvinte sau simboluri care sunt jignitoare pentru
                persoane de o anumită rasă, entitate, religie, orientare sexuală sau grup socio-economic;
                <br>● conțin amenințări adresate oricărei terțe persoane, loc, afacere sau grup;
                <br>● lezeaza intimitatea sau dreptul la viață privată a unei terțe persoane;


                <br>Sect.7.4. Participantul înțelege și recunoaște că va fi singurul responsabil și că va acoperi
                oricare și toate prejudiciile cauzate Organizatorului ca urmare a încălcării drepturilor terților prin
                comentariul încărcat, inclusiv dar fără limitare, drepturile de proprietate intelectuală. Participantul
                este unic responsabil asupra oricăror consecințe directe sau indirecte ce pot apărea ca urmare a
                postării pe conturi de social media Bestinform.eu a unor mesaje inadecvate sau care încalcă drepturile
                unui terț (inclusiv drepturile de autor) și va despăgubi Organizatorul pentru toate prejudiciile
                suferite ca urmare a utilizării, unor mesaje inadecvate sau care încalcă drepturile de proprietate
                intelectuală, precum și orice alte drepturi aparținând unor terțe părți.
                <br>Sect.7.5. Organizatorul nu își asumă responsabilitatea pentru:
                <br>● acțiunile și calitatea serviciilor prestate de către terți pentru și în numele său;
                <br>● probleme de ordin tehnic sau de incapacitate a participantului (erori ale browserelor, probleme
                ale conexiunii la internet, probleme de hardware sau software ale device-ului cu care accesează
                platforma, incapacitatea Participantului de a lucra pe calculator/telefon sau de a naviga pe internet)
                pe care le-ar putea întâmpina aceștia la înscrierea în tombolă, din motive ce nu țin de Organizatori;
                <br>● postarea comentariilor în afara perioadei tombolei, așa cum este definită la SECȚIUNEA 2 din
                prezentul regulament;
                <br>● eventualele dispute legate de drepturile Participanților asupra datelor de contact ale
                participanților;
                <br>● orice încercare de participare la tombolă făcută în afara perioadei definite în prezentul
                regulament;
                <br>● pierderea de către Participant a datelor de logare, a adreselor de e-mail ale participantului sau
                alte defecțiuni ale mecanismelor rețelelor de socializare care fac imposibilă contactarea sau validarea
                participantului și care nu sunt imputabile Organizatorului;
                <br>● erori cauzate de folosirea incorectă a computerului personal de către participant (întreruperea
                sursei electrice a computerului, erori date de sistemul de operare instalat pe computer, erori date de
                virusarea sistemului de operare al computerului, erori date de folosirea cu rea credință a tehnologiei
                de către participant în scopul de a manipula rezultatele tombolei) sau a device-ului mobil folosit la
                accesarea platformei;
                <br>● erori cauzate de folosirea altor tehnologii sau rețele de socializare decât cele indicate de către
                Organizator în regulament;
                <br>● situațiile în care anumite persoane înscrise în tombolă sunt în incapacitate de a participa
                parțial sau integral la tombolă, dacă această incapacitate se datorează unor circumstanțe aflate în
                afara controlului pe care Organizatorul îl pot exercită în mod rezonabil;
                <br>● imposibilitatea Câștigătorului de a intra în posesia premiului, din cauze independente de voință
                Organizatorului.
                <br>● Situații neprevăzute, incidente, accidente, conflicte sau orice alte situații ce pot apărea în
                desfășurarea acțiunilor de consum ale premiului.


                <br>Sect.7.6. Toți Participanții la tombolă recunosc și sunt de acord că Bestinform nu va fi ținut
                răspunzător pentru niciun prejudiciu suferit de către participanți ca urmare a participării la tombolă.
                <br>Sect.7.7. Prin participarea la tombolă, în calitate de participant, ca urmare a creării unui cont pe
                platforma Bestinform, în legătură cu prezentul tombolă, toți participanții acordă Organizatorului o
                licență universală din punct de vedere teritorial, neexclusiva, gratuită, irevocabilă, pentru durata
                maximă de protecție a drepturilor potrivit legii și pentru toate modurile de utilizare și exploatare
                (incluzând, dar fără a vă limita la dreptul de reproducere, distribuire, împrumut, realizare de opere
                derivate, în întregime sau parțial).
                <br>Sect.7.8. În măsură în care legea locală impune proceduri care trebuie respectate, sau aprobări,
                autorizări, acorduri sau altele care trebuie obținute în scopurile unei asemenea licențieri,
                participanții se obligă să îndeplinească aceste proceduri, să obțină asemenea aprobări, autorizări,
                acorduri sau altele, la solicitarea Organizatorilor.
                <br>Sect.7.9. În cazul în care participanții nu doresc să acorde aceste drepturi sau să îndeplinească
                cele de mai sus, aceștia sunt rugați să nu participe la acest tombolă.

            </p>
            <h3>SECȚIUNEA 8. PRELUCRAREA DATELOR CU CARACTER PERSONAL</h3>
            <p>
                <br>Sect.8.1. Datele cu caracter personal ale participanților sunt prelucrate de către Organizator în
                scopul desfășurării Tombolei, în conformitate cu dispozițiile Regulamentului (UE) nr. 679/2016 privind
                protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind
                libera circulație a acestor date și de abrogare a Directivei 95/46/CE („Regulamentul”) și ale Legii nr.
                190/2018.
                <br>Sect.8.2. Datele personale sunt prelucrate de către Organizator, în calitate de operatori de date,
                atât direct, cât și prin intermediul Agențiilor, în calitate de persoane împuternicite (entități care
                prelucrează date cu caracter personal pe seama și în numele Organizatorilor) în sensul Regulamentului.
                <br>Sect.8.3. Temeiul juridic al prelucrării datelor îl constituie executarea contractului (art. 6 alin.
                1 lit. b) din Regulament), respectiv acordarea de către Organizatori câștigătorului premiului menționat
                în prezentul regulament de tombolă.
                <br>Sect.8.4. De asemenea, organizatorii prelucrează datele câștigătorului în temeiul obligațiilor
                prevăzute de reglementările legale în vigoare referitoare la calcularea, reținerea și virarea la bugetul
                de stat a sumelor reprezentând taxe, impozite și contribuții datorate de aceștia în considerarea naturii
                premiilor acordate care constituie avantaje în natură și care urmează regimul fiscal al acestei
                categorii, conform art. 6 alin. 1 lit. c) din Regulament (astfel cum se menționează și în SECȚIUNEA 7).
                <br>Sect.8.5. Categoriile de date personale care fac obiectul prezentei prelucrări sunt următoarele:
                <br>● pentru toți participanții: conturile de social media cu informațiile aferente;
                <br>● pentru câștigător: nume, prenume, adresa de email, număr de telefon, localitatea de reședința și
                datele din cartea de identitate;
                <br>● pentru beneficiarul final al premiului și împuterniciții câștigătorilor (transferul premiului sau
                împuterniciți pentru primirea premiilor în numele câștigătorului): nume, prenume, datele din cartea de
                identitate (pentru beneficiarul final), respectiv date biometrice precum imaginea și vocea ce apar în
                materialele media create de beneficiar..

            </p>
            <h3>SECȚIUNEA 9. PERSOANELE VIZATE ȘI DREPTURILE ACESTORA</h3>
            <p>Sect.9.1. Persoanele vizate de prezenta prelucrare sunt (a) persoanele fizice majore care se înscriu în
                tombolă potrivit prezentului Regulament Oficial, indiferent dacă se dovedește ulterior că acestea nu
                îndeplineau condițiile pentru a fi considerate participant potrivit prezentului regulament oficial.
                <br>Sect.9.2. Drepturile Participanților ale căror date cu caracter personal sunt prelucrate. Fiecare
                persoană vizată de prezenta prelucrare beneficiază conform prevederilor legale aplicabile în materie de
                următoarele drepturi:
                <br>● dreptul de acces la date – aveți dreptul, ca în orice moment, să știți ce date prelucrăm cu
                privire la dumneavoastră și cum prelucrăm aceste date;
                <br>● dreptul la rectificare – în cazul în care constatați că datele pe care le prelucrăm sunt incorecte
                sau incomplete, aveți dreptul să ne solicitați rectificarea, completarea datelor inexacte sau
                incomplete;
                <br>● dreptul la ștergerea datelor - în anumite situații (de ex. atunci când datele nu mai sunt necesare
                pentru scopul în care au fost colectate sau atunci când datele sunt prelucrate ilegal) să solicitați
                ștergerea datelor dumneavoastră prelucrate în scopurile menționate în prezentul document;
                <br>● dreptul la restricționarea prelucrării - vă este recunoscut, în condițiile art. 18 din Regulament,
                iar Organizatorul va fi obligat să oprească temporar prelucrarea datelor până la clarificarea exactă a
                situației acestor date;
                <br>● dreptul la opoziție - din motive legate de situația dumneavoastră particulară, în condițiile art.
                21 din Regulament;
                <br>● dreptul de a vă adresa cu o plângere - la Autoritatea Națională de Supraveghere a Datelor cu
                Caracter Personal;
                <br>● dreptul de a vă adresa cu o acțiune în instanța - atunci când considerați că drepturile
                dumneavoastră sunt încălcate;
                <br>Sect.9.3. În cazul oricăror întrebări cu privire la prelucrarea datelor personale sau în vederea
                exercitării oricăruia dintre drepturile menționate mai sus, persoană vizată va transmite o cerere
                scrisă, la adresa de e-mail contact@bestinform.eu sau prin Poștă la adresele Organizatorilor, menționate
                în SECȚIUNEA 1.

            </p>
            <h3>SECȚIUNEA 10. STOCAREA DATELOR CU CARACTER PERSONAL</h3>
            <p>
                Sect.10.1. Datele participanților la Tombolă sunt stocate pentru o perioada de 3 ani de la data
                finalizării Tombolei, pentru respectarea termenului general de formulare a plângerilor sau
                contestațiilor.
                Documentele justificative care stau la baza acordării premiului, cum sunt procesele verbale de acordare
                sunt păstrate pentru o perioada de 10 ani de la închiderea anului financiar relevant, pentru a putea fi
                prezentate autorităților financiare competențe, la solicitarea acestora.

            </p>
            <h3>SECȚIUNEA 11. CATEGORII DE DESTINATARI</h3>
            <p>
                Sect.11.1. Datele cu caracter personal colectate și prelucrate în cadrul tombolei de către sau pe seama
                Organizatorilor pot fi transmise partenerilor contractuali ai acestuia care asista în organizarea
                tombolei (care vor prelucra datele conform instrucțiunilor Organizatorilor) și realizării celorlalte
                scopuri menționate mai sus, altor parteneri contractuali, autorităților competente, conform prevederilor
                legale în vigoare, precum și publicului (în ceea ce privește câștigătorii). Organizatorii pot transfera
                datele cu caracter personal în alte state din cadrul Uniunii Europene. Organizatorii se obligă să
                respecte toate prevederile legale privind protecția datelor personale, stocând datele atât pe perioada
                desfășurării tombolei, cât și ulterior încheierii acestuia, pe perioada necesară, în acord cu
                prevederilor legale în vigoare în materie fiscală și în materia arhivării.
            </p>
            <h3>SECȚIUNEA 12. CATEGORII DE DESTINATARI</h3>
            <p>
                <br>Sect.12.1. Prin înscrierea și participarea la tombolă, câștigătorul/beneficiarul final al premiului
                se obligă să creeze cel puțin 3 materiale media, compatibile cu SECȚIUNEA 8, solicitate de organizator.
                În cazul refuzului, câștigătorul va plăti organizatorului contravaloarea premiului.
                <br>Sect.12.2. Prin înscrierea și participarea la tombolă, câștigătorul/beneficiarul final al premiului
                își exprimă acordul în mod expres și neechivoc cu privire la filmarea, înregistrarea și/sau
                fotografierea acestora, precum și cu privire la folosirea pe o durata de 1 an de la momentul intrării în
                posesia premiului, a tuturor materialelor rezultate în urmă filmării, înregistrării și/sau fotografierii
                acestora în orice formă de publicitate post-tombolă, în legătură cu aceasta, fără remunerare sau cost
                din partea Organizatorilor.
                <br>Sect.12.3. Înscrierea la tombolă implică acceptarea necondiționată și irevocabilă a
                câștigătorului/beneficiarului final al premiului că numele, fotografiile și materialele filmate cu
                aceștia în timpul desfășurării tombolei sau în cadrul campaniilor publicitare ulterioare, conținând
                imaginea, numele și vocea acestora, să poate fi fixate, difuzate și/sau exploatate în scop publicitar pe
                o durată de 1 an de la momentul intrării în posesia premiului de către Organizatori, fără niciun fel de
                pretenții pecuniare sau de orice altă natură din partea câștigătorului/beneficiarului final al
                premiului.
                <br>Sect.12.4. Prin înscrierea și participarea la tombolă, câștigătorul/beneficiarul final al premiului
                cedează cu titlu gratuit Organizatorilor dreptul exclusiv de a folosi imaginea și vocea acestora în
                toate ipostazele, situațiile și aparițiile realizate de aceștia în timpul investigațiilor oferite ca
                premiu, pe o durata de 1 an de la intrarea în posesia premiului. Drepturile acordate includ dreptul de
                folosire a numelui, imaginii (în fotografii și/sau înregistrări audio-video) și a vocii acestora, în
                toate tipurile de media cunoscute în prezent sau apărute ulterior, precum și folosirea lor pe o durata
                de 1 an de la momentul intrării în posesia premiului, în scop publicitar, în toate campaniile de
                promovare realizate de către Organizatori, pe teritoriul României, inclusiv prin internet


            </p>
            <h3>SECȚIUNEA 14. LITIGII</h3>
            <p>Sect.14.1. Eventualele litigii apărute între Organizatori și participanții la tombolă se vor rezolva pe
                cale amiabilă sau în cazul în care aceasta nu va fi posibilă, litigiile vor fi soluționate de instanțele
                judecătorești competențe. Legea aplicabilă este legea română.</p>
            <h3>SECȚIUNEA 15. ÎNCETAREA ÎNAINTE DE TERMEN A CONCURSULUI</h3>
            <p>
                Sect.15.1. Tombola poate înceta înainte de termen, în cazul apariției unui eveniment ce constituie forță
                majoră sau în cazul imposibilității Organizatorilor, din motive independente de voința acestora, de a
                continua tombola potrivit Regulamentului oficial. Situațiilor avute în vedere mai sus le sunt asimilate
                și actele de putere publică ale unei instanțe competente sau ale altei autorități publice competente
                care impedica derularea tombolei potrivit regulamentului oficial. În situațiile avute în vedere în
                această secțiune, Organizatorii nu mai sunt ținuți la nicio obligație către Participanți, după cum nu
                sunt ținuți la întoarcerea unei sume bănești sau plata unei sume bănești cu titlu de despăgubire sau
                altele asemenea. Încetarea înainte de termen a tombolei urmează a fi adusă la cunoștiință publică în
                modalitățile prevăzute la SECȚIUNEA 1.
            </p>
            <h3>Secțiunea 16. Regulamentul oficial al tombolei</h3>
            <p>Sect.16.1. Regulamentul oficial al tombolei este disponibil în mod gratuit oricărui solicitant pe site-ul
                bestinform.eu precum și la sediile Organizatorilor. Prin participarea la acest tombolă, Participanții
                sunt de acord să se conformeze acestui Regulament oficial. </p>
            <h3>Echipa Bestinform</h3>
            <h3>Vǎ ureazǎ La mulți ani cu ocazia zilei de 1 Mai !</h3>

        </div>
        <div class="py-3 content-class" *ngIf="!ro">
            <h3>GIVEAWAY_INFO_RULES</h3>
            <p>Sec.1.1. The giveaway is organized by BESTINFORM Travel App, hereinafter referred to as the Organizer, in accordance with the provisions set forth in this Official Giveaway Rules (hereinafter referred to as the "Official Rules").</p>
            <h3>SECTION 2. DURATION AND AREA OF THE GIVEAWAY</h3>
            <p>Article 2.1: This giveaway takes place in Romania, and participation is open to all individuals in this country. The registration period for the giveaway runs from April 8th to April 24th, 2024, and is exclusively hosted on the website: <a>www.bestinform.eu</a></p>
            <h3>SECTION 3. RIGHT TO PARTICIPATE</h3>
            <p>Sec.3.1. Any Romanian citizen who holds a real account on social media platforms and meets the participation criteria described in this regulation can participate in this giveaway. Employees of BESTINFORM are not eligible to participate in this giveaway.</p>
            <h3>SECTION 4. GIVEAWAY PRIZES</h3>
            <p>Sec.4.1. The prize of the giveaway is provided by the Organizer:
                <br>• Accommodation for two people at Hotel Nyota Mamaia for 2 nights from May 1st to May 3rd, 2024.
                <br>• Reserved table at LOFT Mamaia for 8 people with 8 included bracelets (*Attention! Access bracelets cannot be sold or transferred to other individuals apart from the table participants*) and consumption included with a limit of 7500 lei. (***Any amount exceeding the value offered as a gift by Bestinform in the amount of 7500 lei will be borne by the winner.)
            </p>
            <p>Sec.4.2. The total value of the prize offered by MB MODELS SRL is approximately 3000 Euros.</p>
            <p>Sec.4.3. The giveaway will have only one winner, who will benefit from the prizes provided by the Organizer, as detailed in SECTION 4.1.</p>
            <p>Sec.4.4. The prize will be awarded through a random draw among participants who have fulfilled the participation conditions as described in SECTION 5.</p>
            <h3>Sec.4.4. The prize will be awarded through a random draw among participants who have fulfilled the participation conditions as described in SECTION 5.</h3>
            <p>Sec.5.1. The giveaway takes place exclusively on the website (https://www.bestinform.eu) during the period mentioned in SECTION 2.
                <br>Sec.5.2. To participate in the giveaway, users must cumulatively perform the following actions:
                <br>● Not violate in any way these Official Rules;
                <br>● Not contain defamatory details, words, or symbols that are offensive in general or directly to individuals of a certain race, entity, religion, sexual orientation, or socio-economic group, or illegal, immoral, or antisocial messages;
                <br>● Not contain threats to any third person, place, business, or group, not infringe on privacy, the right to private life, and/or other rights of any third person, firm, or entity, and must not otherwise violate applicable laws and regulations;
                <br>● Not contain references or messages regarding registered or unregistered trademarks;
                <br>● Not use expressions protected by copyright or other intellectual property rights;
                <br>● Not promote cigarette or alcohol brands or tobacco and alcohol consumption;
                <br>● Not contain messages addressed to minors and must not refer to minors;
                <br>● Not include personal data belonging to oneself or others. Participants who do not meet the above conditions will be disqualified and will not be considered for inclusion in the draw and/or designation of winning participants.
                <br>Sec.5.4. The following will not be considered:
                <br>● Persons who have not reached the age of 18.


            </p>
            <h3>SECTION 6. ANNOUNCEMENT OF WINNER AND AWARDING OF PRIZE</h3>
            <p>
                <br>Sec. 6.1. On April 25th, 2024, the draw will take place. The independent system Bestinform will be used to determine the winner. The results of the draw will be available for consultation later on the mentioned website and on Bestinform's Social Media pages. The extraction system used by Bestinform guarantees the neutrality of the results and the absence of human intervention in the selection of winners.
                <br>Sec. 6.2. 1 winner and 5 reserves will be drawn. If the winner cannot be contacted to establish the details of awarding the prizes, or refuses the prize, or the final beneficiary of the prize does not meet the criteria mentioned in SECTION 4, the reserves will be contacted in the order of their extraction.
                <br>Sec. 6.3. The winner will be announced via email.
                <br>Sec. 6.4. For the validation of the winner, they will need to send an email with personal details to the address contact@bestinform.eu. The necessary information includes: name, surname, age, phone number, city of residence, for later contact by the Organizer's representatives.
                <br>Sec. 6.5. The winner has 24 hours from the date of the announcement to send personal information to be validated and to establish the details of receiving the prize. If the winner cannot be validated within 24 hours, the reserves will be contacted in the order in which they were drawn. They have 24 hours to validate by sending the necessary personal data.
                <br>Sec. 6.6. In circumstances beyond the Organizer's control, they do not assume responsibility for the impossibility of awarding the prizes.
            </p>
            <h3>Section 7. RESPONSIBILITY</h3>
            <p>
                <br>Sect.7.1. The Organizer will award the prize in accordance with the specifications of this Official Rules. Any decision regarding the raffle made by the Organizer is final and not subject to appeal.
                <br>Sect.7.2. The Organizer will not engage in any correspondence or communication regarding the raffle, winners, procedural issues, or raffle results, except as mentioned in the Official Rules.
                <br>Sect.7.3. The Participant understands and warrants that they will not post comments that:
                <br>● violate, in any way, applicable laws;
                <br>● represent a violation of copyright, image rights, or personal data protection rights belonging to a third party;
                <br>● contain references or mentions of registered or unregistered trademarks;
                <br>● promote tobacco or alcohol product brands or tobacco or alcohol consumption;
                <br>● contain and refer to defamatory details, words, or symbols that are offensive to persons of a certain race, entity, religion, sexual orientation, or socioeconomic group;
                <br>● contain threats addressed to any third party, place, business, or group;
                <br>● infringe upon the privacy or right to private life of a third party;
                <br>Sect.7.4. The Participant understands and acknowledges that they will be solely responsible and liable for any and all damages caused to the Organizer as a result of the violation of third-party rights by the uploaded comment, including but not limited to intellectual property rights. The Participant is solely responsible for any direct or indirect consequences that may arise from posting inappropriate messages or messages that infringe upon the rights of a third party on Bestinform.eu social media accounts, and will indemnify the Organizer for all damages suffered as a result of the use of inappropriate messages or messages that infringe upon intellectual property rights, as well as any other rights belonging to third parties.
                <br>Sect.7.5. The Organizer assumes no responsibility for:
                <br>● the actions and quality of services provided by third parties for and on its behalf;
                <br>● technical issues or the participant's inability (browser errors, internet connection issues, hardware or software problems of the device used to access the platform, participant's inability to work on a computer/phone or navigate the internet) that they may encounter when registering for the raffle, for reasons beyond the control of the Organizers;
                <br>● posting comments outside the raffle period, as defined in SECTION 2 of these official rules;
                <br>● any disputes related to participants' rights over participants' contact data;
                <br>● any attempt to participate in the raffle outside the period defined in these official rules;
                <br>● Participant's loss of login data, participant's email addresses, or other malfunctions of social media network mechanisms that make it impossible to contact or validate the participant and which are not attributable to the Organizer;
                <br>● errors caused by incorrect use of the participant's personal computer (interruption of the computer's power supply, errors caused by the operating system installed on the computer, errors caused by virus infection of the computer's operating system, errors caused by the participant's bad faith use of technology to manipulate raffle results) or of the mobile device used to access the platform;
                <br>● errors caused by the use of other technologies or social networks than those indicated by the Organizer in the rules;
                <br>● situations in which certain persons enrolled in the raffle are unable to partially or fully participate in the raffle, if this inability is due to circumstances beyond the control that the Organizer can reasonably exercise;
                <br>● the winner's inability to take possession of the prize, due to reasons independent of the Organizer's will.
                <br>● Unforeseen situations, incidents, accidents, conflicts, or any other situations that may arise in the conduct of prize consumption actions.
                <br>Sect.7.6. All Participants in the raffle acknowledge and agree that Bestinform will not be held liable for any damages suffered by participants as a result of participating in the raffle.
                <br>Sect.7.7. By participating in the raffle, as a participant, by creating an account on the Bestinform platform, in connection with this raffle, all participants grant the Organizer a universal, territorial, non-exclusive, free, irrevocable license, for the maximum duration of protection of rights according to the law and for all modes of use and exploitation (including, but not limited to, the right of reproduction, distribution, lending, making derivative works, in whole or in part).
                <br>Sect.7.8. To the extent that local law imposes procedures to be followed, or approvals, authorizations, agreements, or others to be obtained for the purposes of such licensing, participants undertake to comply with these procedures, to obtain such approvals, authorizations, agreements, or others, at the request of the Organizers.
                <br>Sect.7.9. If participants do not wish to grant these rights or comply with the above, they are kindly requested not to participate in this raffle.

            </p>
            <h3>SECTION 8. PROCESSING OF PERSONAL DATA</h3>
            <p>
                <br>Sect.8.1. The personal data of participants are processed by the Organizer for the purpose of conducting the Raffle, in accordance with the provisions of Regulation (EU) 2016/679 on the protection of individuals with regard to the processing of personal data and on the free movement of such data and repealing Directive 95/46/EC ("Regulation") and Law no. 190/2018.
                <br>Sect.8.2. Personal data is processed by the Organizer, as data controllers, both directly and through Agents, as authorized persons (entities processing personal data on behalf and on behalf of the Organizers) within the meaning of the Regulation.
                <br>Sect.8.3. The legal basis for the processing of data is the performance of the contract (Art. 6 (1) lit. b) of the Regulation), namely the awarding by the Organizers to the winner of the prize mentioned in this raffle regulation.
                <br>Sect.8.4. In addition, the organizers process the winner's data on the basis of the obligations provided by the current legal regulations regarding the calculation, retention, and transfer to the state budget of the amounts representing taxes, taxes, and contributions due by them considering the nature of the prizes awarded which constitute in-kind benefits and which follow the tax regime of this category, according to art. 6 (1) lit. c) of the Regulation (as mentioned in SECTION 7).
                <br>Sect.8.5. The categories of personal data that are the subject of this processing are as follows:
                <br>● for all participants: social media accounts with relevant information;
                <br>● for the winner: first name, last name, email address, phone number, city of residence, and data from the identity card;
                <br>● for the final beneficiary of the prize and the winners' representatives (transfer of the prize or representatives for receiving the prizes on behalf of the winner): first name, last name, data from the identity card (for the final beneficiary), as well as biometric data such as image and voice appearing in media materials created by the beneficiary.
            </p>
            <h3>SECTION 9. DATA SUBJECTS AND THEIR RIGHTS</h3>
            <p>
                <br>Sect.9.1. The data subjects of this processing are (a) adult individuals who register for the raffle according to these Official Rules, regardless of whether it is subsequently proven that they did not meet the conditions to be considered a participant according to these Official Rules.
                <br>Sect.9.2. The rights of the participants whose personal data is processed. Each person affected by this processing benefits from the legal provisions applicable in the field of the following rights:
                <br>● the right of access to data - you have the right,  at any time, to know what data we process about you and how we process this data;
                <br>● the right to rectification - if you find that the data we process is incorrect or incomplete, you have the right to request the rectification, completion of inaccurate or incomplete data;
                <br>● the right to erasure of data - in certain situations (e.g., when the data is no longer necessary for the purposes for which it was collected or when the data is processed unlawfully) to request the deletion of your data processed for the purposes mentioned in this document;
                <br>● the right to restriction of processing - you are recognized under art. 18 of the Regulation, and the Organizer will be obliged to temporarily stop processing the data until the exact clarification of the situation of these data;
                <br>● the right to object - for reasons related to your particular situation, under art. 21 of the Regulation;
                <br>● the right to lodge a complaint - with the National Supervisory Authority for Personal Data Processing;
                <br>● the right to bring an action in court - when you believe that your rights are violated;
                <br>Sect.9.3. In case of any questions regarding the processing of personal data or in order to exercise any of the rights mentioned above, the data subject shall submit a written request to the email address contact@bestinform.eu or by mail to the addresses of the Organizers mentioned in SECTION 1.

            </p>
            <h3>SECTION 10. STORAGE OF PERSONAL DATA</h3>
            <p>
                Sect.10.1. The data of the participants in the Raffle are stored for a period of 3 years from the end date of the Raffle, to comply with the general term for formulating complaints or appeals. The documents justifying the awarding of the prize, such as the minutes of awarding, are kept for a period of 10 years from the closing of the relevant financial year, in order to be presented to the competent financial authorities, at their request.

            </p>
            <h3>SECTION 11. CATEGORIES OF RECIPIENTS</h3>
            <p>
                Sect.11.1. Personal data collected and processed within the raffle by or on behalf of the Organizers may be transmitted to their contractual partners who assist in the organization of the raffle (who will process the data in accordance with the instructions of the Organizers) and the achievement of other purposes mentioned above, to other contractual partners, competent authorities, in accordance with the current legal provisions, as well as to the public (regarding the winners). The Organizers may transfer personal data to other states within the European Union. The Organizers undertake to comply with all legal provisions regarding the protection of personal data, storing the data both during the conduct of the raffle and after its completion, for the necessary period, in accordance with the current legal provisions in tax matters and in the field of archiving.
            </p>
            <h3>SECTION 12. CATEGORIES OF RECIPIENTS</h3>
            <p>
                <br>Sect.12.1. By registering and participating in the raffle, the winner/final beneficiary of the prize undertakes to create at least 3 media materials, compatible with SECTION 8, requested by the organizer. In case of refusal, the winner will pay the organizer the value of the prize.
                <br>Sect.12.2. By registering and participating in the raffle, the winner/final beneficiary of the prize expressly and unequivocally agrees to be filmed, recorded, and/or photographed, as well as to use for a period of 1 year from the moment of taking possession of the prize, all materials resulting from the filming, recording, and/or photographing of them in any form of post-raffle advertising, in connection with it, without remuneration or cost from the Organizers.
                <br>Sect.12.3. Registration for the raffle implies the unconditional and irrevocable acceptance by the winner/final beneficiary of the prize that their name, photographs, and materials filmed with them during the conduct of the raffle or during subsequent advertising campaigns, containing their image, name, and voice, may be fixed, broadcasted, and/or exploited for advertising purposes for a period of 1 year from the moment of taking possession of the prize by the Organizers, without any pecuniary or other claims from the winner/final beneficiary of the prize.
                <br>Sect.12.4. By registering and participating in the raffle, the winner/final beneficiary of the prize grants the Organizers, free of charge, the exclusive right to use their image and voice in all situations, appearances, and appearances made by them during the investigations offered as a prize, for a period of 1 year from taking possession of the prize. The rights granted include the right to use the name, image (in photographs and/or audio-video recordings), and their voice, in all types of media known today or appearing later, as well as their use for a period of 1 year from the moment of taking possession of the prize, for advertising purposes, in all promotion campaigns carried out by the Organizers, on the territory of Romania, including through the internet.
            </p>
            <h3>SECTION 14. DISPUTES</h3>
            <p>Sect.14.1. Any disputes between the Organizers and the participants in the raffle will be resolved amicably or, if this is not possible, the disputes will be settled by the competent judicial authorities. The applicable law is Romanian law.</p>
            <h3>SECTION 15. EARLY TERMINATION OF THE RAFFLE</h3>
            <p>
                Sect.15.1. The raffle may be terminated early in the event of an event constituting force majeure or if the Organizers are unable, for reasons beyond their control, to continue the raffle in accordance with the Official Rules. The situations mentioned above are assimilated to the acts of public authority of a competent court or other competent public authority that prevent the conduct of the raffle in accordance with the official rules. In the situations provided for in this section, the Organizers are no longer obligated to the Participants, nor are they obligated to return a sum of money or pay a sum of money as compensation or other similar obligations. The early termination of the raffle shall be made public in the manner provided in SECTION 1.
            </p>
            <h3>Section 16. Official Raffle Rules</h3>
            <p>Sect.16.1. The Official Raffle Rules are available free of charge to any requester on the bestinform.eu website as well as at the offices of the Organizers. By participating in this raffle, Participants agree to comply with these Official Rules.</p>
            <h3>Bestinform Team</h3>
            <h3>We wish you a Happy May 1st!</h3>

        </div>
    </div>
</div>
