<div *ngIf="editorial" class="resource-card d-flex flex-column cursor-pointer">
    <div class="img-container">
        <button>
            <i class="far fa-star"></i>
        </button>

        <img [src]="editorial.featuredImage?.filePath ? editorial.featuredImage.filePath : notFoundImg" alt="editorial image">
    </div>

    <div class="resource-info" >
        <h6>
            {{ editorial.title }} 1
        </h6>
        <p>
            <ng-container *ngFor="let tag of editorial.tags; let last = last">
                {{ tag | titlecase }}<ng-container *ngIf="!last">,</ng-container>
            </ng-container>
        </p>

        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <p>
                {{ "EDITORIALS.BY" | translate}}:
                <span>
                    {{ editorial.username }}
                </span>
            </p>

            <p>
                {{ editorial.publishedDate | date : 'MMMM d, y' }}
            </p>
        </div>

    </div>
</div>
