<div class="padding-wrapper booking-confirmed-wrapper">
    <div class="booking-confirmed-card">
        <img src="assets/icons/confirmation.svg" alt="Confirmation" width="192" height="192">
        <div class="booking-confirmed-title">
            Rezervarea ta a fost confirmata
        </div>
        <div class="booking-confirmed-text">
            Multumim ca ati ales sa rezervati prin Bestinform. Rezervarea dumneavoastra a fost confirmata si trimisa catre hotel.
        </div>
        <div class="booking-confirmed-id"><span class="booking-confirmed-id-bold">ID Rezerare:</span> {{id}}</div>
        <div class="booking-confirmed-buttons">
            <button class="back-button" role="button" type=button (click)="getBack()">Inapoi</button>
            <button class="voucher-button" role="button" type=button (click)="getToVoucer()">Vezi Rezervarea</button>
        </div>
    </div>

    <div class="booking-confirmed-auxiliary">
        <div class="booking-confirmed-contact">Daca ai nevoie de ajutor ne poti contacta <a href="mailto:clientsupport@bestinform.eu">aici</a></div>
        Daca vreti alti termeni si conditii le puteti trece aici. Lorem ipsum dolor sit amet consectetur. Mi amet elit quis eleifend a sed eros cras. Tincidunt dignissim ac nisi dictum. Ut duis orci tortor facilisis turpis. Morbi tincidunt enim congue dictum etiam viverra.
    </div>
</div>
