.page-titles-row {
  h2 {
    margin-bottom: 0;
    opacity: 0.48;
    cursor: pointer;
  }

  h2.active-page-link {
    opacity: 1;
  }

  h2.no-pointer {
    cursor: default;
  }

  h2:not(:last-child) {
    margin-right: 30px;
  }

  h2:not(:last-child)::after {
    // content: '/';
    position: absolute;
    margin-left: 10px;
  }
}

.titleBar {
  padding: 35px 0px;
}

h3 {
  font-size: 20px;
  margin-top: 5px;
}