@import "src/app/theme/styles/components/_colors.scss";

.background-container {
  width: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba($title, 0.24), rgba($title, 0.24));
  }

  img {
    height: auto;
    max-height: 560px;
    width: 100%;
    object-fit: cover;
  }
}

.view-container{
  background-color: var(--primary-background);
  padding: 48px 0;
  display: flex;
  flex: 1;
  flex-direction: column;

  h1{
    text-align: center;
  }

  .col-info{
    .available-spots{
      .spots-left{
        padding: 2px 8px;
        border: 1px solid rgba($secondary-color, 0.48);
        background-color: rgba($secondary-color, 0.08);
        border-radius: 8px;
        font-weight: 400;
      }

      .fa-crown{
        color: $secondary-color;
      }
    }

  }
  .creator{
    margin-bottom: 40px;
  }
}

