@import "/src/app/theme/styles/components/colors";


  .dashboard-cards {
    .row{
      row-gap: 24px;
      margin-bottom: 24px;
      .balance{
        border-radius: 8px;
        background: linear-gradient(to right, $primary-color, transparent),
        url("~src/assets/images/others/provider/balance.jpg");
        background-size: cover;
        height: 300px;
        position: relative;
      }

      .bookings{
        border-radius: 8px;
        background: linear-gradient(to right, $primary-color, transparent),
        url("~src/assets/images/others/provider/reservations.jpg");
        background-size: cover;
        height: 300px;
        position: relative;
      }

      .resources{
        border-radius: 8px;
        background: linear-gradient(to right, $primary-color, transparent),
        url("~src/assets/images/others/provider/resources.jpg") center;
        background-size: cover;
        height: 300px;
        position: relative;
      }

      .events {
        border-radius: 8px;
        background: linear-gradient(to right, $primary-color, transparent),
        url("~src/assets/images/others/staff/events.jpg") center;
        background-size: cover;
        height: 300px;
        position: relative;
      }


      .title-for-card{
        position:absolute;
        bottom: 8px;
        left:16px;
        color:var(--primary-background);
        font-size: 36px;
        font-weight: 500;
      }

    }
  }







.title-p{
  color:$primary-color;
  font-size: 48px;
  font-weight: 700;
}

//
//.not-allow {
//  cursor: not-allowed;
//}
//
//.card-disabled {
//  pointer-events: none;
//  filter: grayscale(1);
//}
