<div class="row container-fluid mx-0">
    <div class="col">
        <div class="container">
            <p class="p-title m-0">{{'GENERAL.ACTIVITIES' | translate}}</p>
            <div class="divider">
            </div>
            <p class="description">{{'GENERAL.BOOK' | translate}}Cluj-Napoca, Cluj County.</p>
            <div class="container d-flex justify-content-between flex-wrap px-0">
                <div class="card-custom">
                    <div class="image-container">
                        <button class="favourite"><i class="far fa-star"></i></button>
                        <img class="card-img-custom" src="../../../../../assets/images/others/images-client/activitati1.jpg">
                    </div>

                    <div class="card-body-custom">
                        <p class="title-custom">Boardgames Night
                            at GuildHall</p>
                        <div class="price-rating">
                            <div>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="not-checked">$</span>
                                <span class="not-checked">$</span>
                            </div>

                            <div class="rating">
                                <p>100%<i class="far fa-smile ml-2"></i></p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-custom">
                    <div class="image-container">
                        <button class="favourite"><i class="far fa-star"></i></button>
                        <img class="card-img-custom" src="../../../../../assets/images/others/images-client/activitati2.jpg">
                    </div>

                    <div class="card-body-custom">
                        <p class="title-custom">Team Laser Tag
                            at Laser Arena</p>
                        <div class="price-rating">
                            <div>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="not-checked">$</span>
                                <span class="not-checked">$</span>
                            </div>

                            <div class="rating">
                                <p>100%<i class="far fa-smile ml-2"></i></p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-custom">
                    <div class="image-container">
                        <button class="favourite"><i class="far fa-star"></i></button>
                        <img class="card-img-custom" src="../../../../../assets/images/others/images-client/activitati3.jpg">
                    </div>

                    <div class="card-body-custom">
                        <p class="title-custom">Treasure Hunt
                            The quest for Victory</p>
                        <div class="price-rating">
                            <div>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="not-checked">$</span>
                                <span class="not-checked">$</span>
                            </div>

                            <div class="rating">
                                <p>100%<i class="far fa-smile ml-2"></i></p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-custom">
                    <div class="image-container">
                        <button class="favourite"><i class="far fa-star"></i></button>
                        <img class="card-img-custom" src="../../../../../assets/images/others/images-client/activitati4.jpg">
                    </div>

                    <div class="card-body-custom">
                        <p class="title-custom">The Mystery Cluj
                            Submarine Escape Room</p>
                        <div class="price-rating">
                            <div>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="checked">$</span>
                                <span class="not-checked">$</span>
                                <span class="not-checked">$</span>
                            </div>

                            <div class="rating">
                                <p>100%<i class="far fa-smile ml-2"></i></p>
                            </div>
                        </div>
                    </div>


                </div>
<!--                <div class="card-custom">-->
<!--                    <div class="image-container">-->
<!--                        <button class="favourite"><i class="far fa-star"></i></button>-->
<!--                        <img class="card-img-custom" src="assets/images/others/changepass.png">-->
<!--                    </div>-->

<!--                    <div class="card-body-custom">-->
<!--                        <p class="title-custom">Lorem ipsum dolor sit amet</p>-->
<!--                        <div class="price-rating">-->
<!--                            <div>-->
<!--                                <span class="checked">$</span>-->
<!--                                <span class="checked">$</span>-->
<!--                                <span class="checked">$</span>-->
<!--                                <span class="not-checked">$</span>-->
<!--                                <span class="not-checked">$</span>-->
<!--                            </div>-->

<!--                            <div class="rating">-->
<!--                                <p>100%<i class="far fa-smile ml-2"></i></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                </div>-->


            </div>
            <div class="more d-flex justify-content-end">
                <a>{{'GENERAL.SEE-MORE' | translate}} <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>

    </div>
</div>
