<div class="container-fluid row mx-0">
    <div class="col-12">

        <div class="container">
            <mat-tab-group mat-stretch-tabs="false" dynamicHeight class="tab-homepage" [selectedIndex]="tabIndex" >
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-calendar-alt mr-2"></i>{{'GENERAL.EVENTS' | translate}}
                    </ng-template>

                    Work in progress
                </mat-tab>

                <mat-tab  >
                    <ng-template mat-tab-label>
                        <i class="fas fa-globe mr-2"></i>{{'GENERAL.EXPLORE' | translate}}
                    </ng-template>
                    <div class="container section-explore">
                        <div class="row py-0 py-md-2">
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a href="" >
                                    <img src="../../../../../assets/images/others/1st.png" width="100%">
                                    Food & Drinks
                                </a>
                            </div>
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a>
                                    <a href="" >
                                        <img src="../../../../../assets/images/others/transport.png" width="100%">
                                        Transport
                                    </a>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a>
                                    <a href="" >
                                        <img src="../../../../../assets/images/others/accomodation.png" width="100%">
                                        Accomodation
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="row py-0 py-md-2">
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a href="" >
                                    <img src="../../../../../assets/images/others/trips.png" width="100%">
                                    Trips
                                </a>
                            </div>
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a>
                                    <a href="" >
                                        <img src="../../../../../assets/images/others/best.png" width="100%">
                                        Best for you
                                    </a>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a>
                                    <a href="" >
                                        <img src="../../../../../assets/images/others/shared.png" width="100%">
                                        Shared experience
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="row py-0 py-md-2">
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a href="" >
                                    <img src="../../../../../assets/images/others/attractions.png" width="100%">
                                    Attractions
                                </a>
                            </div>
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a>
                                    <a href="" >
                                        <img src="../../../../../assets/images/others/cinema.png" width="100%">
                                        Theatre & Cinema
                                    </a>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 px-2 grid-item">
                                <a>
                                    <a href="" >
                                        <img src="../../../../../assets/images/others/fun.png" width="100%">
                                        Fun & More
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-newspaper mr-2"></i>{{'GENERAL.EDITORIALS' | translate}}
                    </ng-template>

                    Work in progress
                </mat-tab>
            </mat-tab-group>
        </div>





    </div>


</div>
