@import "src/app/theme/styles/components/_colors.scss";

.booking-section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: $paragraph;
}

.row-gap {
  row-gap: 24px;
}

.guests-selector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  border: 1px solid $inactive-color;
  border-radius: 8px;

  button {
    border: 1px solid $inactive-color;
    background-color: var(--primary-background);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: $primary-color;
      font-size: 24px;
    }

    &:hover {
      background-color: $primary-color;
      transition: 0.3s ease-in-out;
      i {
        color: var(--primary-background);
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
  }
}
