
<!--Title bar-->
<div class="container-fluid client-general-box">

    <div  class="container" >
        <app-dashboard-header pageTitleOne="{{ 'MY_BOOKINS' | translate }}"
                                routeTitleOne="../../dashboard/my-bookings"
                                pageTitleTwo=" {{ 'TITLES.TRIP-BOOKINGS' | translate }}"
                                routeTitleTwo="../../dashboard/trip-bookings"
                              pageTitleThree="{{'FLIGHT-BOOKINGS' | translate}}"
                              routeTitleThree="../../dashboard/flight-bookings"
                              [buttonBackRoute]="'../../dashboard/profile'">
        </app-dashboard-header>
    </div>

    <!--delighted with your experience section-->
    <div class="container booking-delighted-container mb-2 px-10 py-4 d-flex justify-content-between align-items-center"
    *ngIf="lastNotReviewedBooking!==undefined">
        <div class="booking-delighted-text">
            <h2>Încântat de experiența ta?</h2>
            <p>Spune-ne parerea ta despre experiența cu <span>{{lastNotReviewedBooking?.resourceId}}</span> din <span>{{lastNotReviewedBooking?.checkIn | date: 'd MMM y'}} - {{lastNotReviewedBooking?.checkOut | date: 'd MMM y'}}</span> ?</p>
        </div>
        <div class="d-flex gap-2 flex-wrap">
            <button
            class="btn-long btn-white-border-outline"
            (click)="addReviewToResource(lastNotReviewedBooking.id, false)">
            <i class="fas fa-thumbs-down"></i> Dislike
            </button>
            <button
            class="btn-long btn-white-fill"
            (click)="addReviewToResource(lastNotReviewedBooking.id, true)">
            <i class="fas fa-thumbs-up"></i> Like</button>
        </div>
    </div>

    <div class="container my-bookings-container px-0 mb-4">
        <div class="px-10">
            <!--Active tab-->

            <mat-tab-group mat-stretch-tabs="false" class="remove-border-bottom" dynamicHeight>
                <mat-tab label="Active" >
                    <!--if booking list is empty-->
                    <div *ngIf="activeBookingList.length===0" class="py-4"><p>{{"RESERVATION.EMPTY-LIST-MSG" | translate}}</p></div>
                    <!--list of bookings-->
                    <div *ngFor="let booking of activeBookingList" class="my-2 experiences-card-class d-flex">
                        <div class="col-6 col-sm-6 col-md-7 col-lg-9 p-2 align-items-center">
                            <h4><a routerLink="../../dashboard/my-booking/view/{{booking.id}}">{{booking.name}}</a></h4>
                            <p>{{booking.checkIn | date: 'dd MMM y'}} - {{booking.checkOut | date: 'dd MMM y'}}</p>
                            <p>{{booking.city}}, {{booking.country}}</p>
                        </div>
                        <div class="d-flex blue col-4 col-sm-3 col-md-3 col-lg-2 justify-content-center align-items-center p-3">
                            <div  class="d-flex col-lg-9 justify-content-center">
                                <h4>€ {{booking.totalPrice}}</h4>
                            </div>
                        </div>
                        <div class="d-flex col-2 col-sm-3 col-md-2 col-lg-1 align-items-center justify-content-center px-0 py-3" [matMenuTriggerFor]="experiencesMenu">
                            <div  class="col-lg-3 d-flex justify-content-center">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <mat-menu #experiencesMenu="matMenu">
                            <button mat-menu-item routerLink="../../dashboard/my-booking/view/{{booking.id}}">
                                <i class="fas fa-eye"></i>
                                Vezi rezervare
                                </button>
                            <button mat-menu-item routerLink="../../dashboard/inbox/{{booking.conversationId}}">
                                <i class="fas fa-comment-alt"></i>
                              Contact provider
                            </button>
                            <!-- <button mat-menu-item>
                                <i class="fas fa-times"></i>
                                Remove
                            </button> -->
                          </mat-menu>
                    </div>

                    <!--Pagination-->
                <mat-paginator
                [pageSizeOptions]="pageItems"
                [length]="totalActiveElements"
                [pageSize]="pageSize"
                (page)="pageChanged($event)"
                 >
                 </mat-paginator>
                </mat-tab>
<!--Past tab-->
                <mat-tab label="Past" >
                    <!--if booking list is empty-->
                    <div *ngIf="pastBookingList.length===0" class="py-4"><p>{{"RESERVATION.EMPTY-LIST-MSG" | translate}}</p></div>

                    <!--list of bookings-->
                    <div *ngFor="let booking of pastBookingList" class="my-2 experiences-card-class d-flex">
                        <div class="col-5 col-sm-5 col-md-5 col-lg-7 p-2 align-items-center">
                            <h4><a routerLink="../../dashboard/my-booking/view/{{booking.id}}">{{booking.name}}</a></h4>
                            <p>{{booking.checkIn | date: 'dd MMM y'}} - {{booking.checkOut | date: 'dd MMM y'}}</p>
                            <p>{{booking.city}}, {{booking.country}} </p>
                        </div>
                        <div class="rate-button d-flex flex-wrap col-3 col-sm-4 col-md-4 col-lg-2 align-items-center justify-content-end">
                            <button type="button"
                                *ngIf="booking.recommended===true || booking.recommended === null"
                                [disabled]="booking.recommended===true"
                                class="btn-rate-booking w-50"
                                (click)="addReviewToResource(booking.id, true)">
                                <i class="fas fa-thumbs-up active-thumbs-up"></i>
                            </button>
                            <button type="button"
                                class="btn-rate-booking w-50"
                                (click)="addReviewToResource(booking.id, false)"
                                *ngIf="booking.recommended===false || booking.recommended === null"
                                [disabled]="booking.recommended===false">
                                <i class="fas fa-thumbs-down active-thumbs-down"></i>
                            </button>
                        </div>
                        <div class="d-flex blue col-2 col-sm-2 col-md-2 col-lg-2 align-items-center p-3">
                            <div  class="col-lg-9 d-flex justify-content-center">
                                <h4>€ {{booking.totalPrice}}</h4>
                            </div>
                        </div>
                        <div class="d-flex col-1 col-sm-1 col-md-1 col-lg-1 align-items-center justify-content-center px-0 py-3" [matMenuTriggerFor]="experiencesMenu">
                            <div  class="col-lg-3 d-flex justify-content-center">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <mat-menu #experiencesMenu="matMenu">
                            <button mat-menu-item routerLink="../../dashboard/my-booking/view/{{booking.id}}">
                                <i class="fas fa-eye"></i>
                                Vezi rezervare
                                </button>
                            <button mat-menu-item routerLink="../../dashboard/inbox/{{booking.conversationId}}">
                                <i class="fas fa-comment-alt"></i>
                            Contact provider
                            </button>
                            <!-- <button mat-menu-item>
                                <i class="fas fa-times"></i>
                                Remove
                            </button> -->
                        </mat-menu>
                    </div>
                    <!--Pagination-->
                <mat-paginator
                [pageSizeOptions]="pageItems"
                [length]="totalPastElements"
                [pageSize]="pageSize"
                (page)="pageChanged($event)"
                 >
                 </mat-paginator>
                </mat-tab>
<!--Canceled tab-->

                <mat-tab label="Cancelled" >

                    <!--if booking list is empty-->
                    <div *ngIf="cancelledBookingList.length===0" class="py-4"><p>{{"RESERVATION.EMPTY-LIST-MSG" | translate}}</p></div>

                    <!--list of bookings-->
                    <div *ngFor="let booking of cancelledBookingList" class="my-2 experiences-card-class d-flex">
                        <div class="col-6 col-sm-6 col-md-7 col-lg-9 p-2 align-items-center">
                            <h4><a routerLink="../../dashboard/my-booking/view/{{booking.id}}">{{booking.name}}</a></h4>
                            <p>{{booking.city}}, {{booking.country}}</p>
                        </div>
                        <div class="d-flex blue col-4 col-sm-3 col-md-3 col-lg-2 align-items-center p-3">
                            <div  class="col-lg-9 d-flex justify-content-center">
                                <h4>€ {{booking.totalPrice}}</h4>
                            </div>
                        </div>
                        <div class="d-flex col-2 col-sm-3 col-md-2 col-lg-1 align-items-center justify-content-center px-0 py-3" [matMenuTriggerFor]="experiencesMenu">
                            <div  class="col-lg-3 d-flex justify-content-center">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <mat-menu #experiencesMenu="matMenu">
                            <button mat-menu-item routerLink="../../dashboard/my-booking/view/{{booking.id}}">
                                <i class="fas fa-eye"></i>
                                Vezi rezervare
                                </button>
                            <button mat-menu-item routerLink="../../dashboard/inbox/{{booking.conversationId}}">
                            <i class="fas fa-comment-alt"></i>
                              Contact provider
                            </button>
                            <!-- <button mat-menu-item>
                                <i class="fas fa-times"></i>
                                Remove
                            </button> -->
                          </mat-menu>
                    </div>

                    <!--Pagination-->
                    <mat-paginator
                    [pageSizeOptions]="pageItems"
                    [length]="totalCancelledElements"
                    [pageSize]="pageSize"
                    (page)="pageChanged($event)"
                    >
                    </mat-paginator>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>

</div>
