@import "src/app/theme/styles/components/_colors.scss";

.container-data{
  background-color: var(--primary-background);
  padding: 148px 0;
  text-align: center;

  .icon{
    width: 112px;
    aspect-ratio: 1/1;
    background-color: rgba($primary-color, 0.08);
    border-radius: 100px;

    i{
      background: radial-gradient(100% 787.93% at 0% 100%, rgba(0, 178, 255, 0.48) 0%, rgba(0, 178, 255, 0) 100%), #24398A;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      font-size: 48px;
    }
  }
}
