<div class="container w-100 m-0">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="overlay-image-box">
        <img src="" class="overlay-image" />
        <div class="centered-title-box">
          <p class="p-0 m-0 centered-top-title">
            OFERTE VACANTE SI SEJURURI IN
          </p>
          <p class="p-0 m-0 centered-bottom-title">Regiunea Atena</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-md-12">
      <div class="sidebar-container">
        <div class="container p-0 m-0">
          <div class="row col-12 col-md-12 bottom-dotted">
            <h1>Cautare</h1>
          </div>
          <div class="row col-12 col-md-12">
            <p class="transport"></p>
            <div class="radio-container">
              <!-- Check Box -->
              <mat-icon class="transport-type">plane</mat-icon>
              <span class="transport-text">Avion</span>
            </div>
            <div class="radio-container">
              <!-- Check Box -->
              <mat-icon class="transport-type">car</mat-icon>
              <span class="transport-text">Individual</span>
            </div>
          </div>
          <div class="row col-12 col-md-12">
            <div class="form-container">
              <label class="form-title">Destinatie</label>
              <input type="text" class="form-filter-text" />
            </div>
            <div class="form-container">
              <label class="form-title">Oras plecare</label>
              <select class="form-filter-select">
                <option value="">Bucuresti</option>
              </select>
            </div>
            <div class="form-container">
              <label class="form-title">Data plecare</label>
              <input type="text" class="form-filter-select" />
            </div>
            <div class="form-container">
              <label class="form-title">Nopti</label>
              <select class="form-filter-select">
                <option value="">1 noapte</option>
              </select>
            </div>
          </div>
          <div class="row col-12 col-md-12">
            <h1>Turisti</h1>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <select class="form-filter-select">
                <option value="">2 adulti</option>
              </select>
            </div>
            <div class="col-6 col-md-6">
              <select class="form-filter-select">
                <option value="">nu</option>
              </select>
            </div>
          </div>
          <div class="row">
            <button mat-button class="search-button">CAUTA</button>
          </div>
        </div>
      </div>
      <div class="sidebar-container">
        <div class="map-container"></div>
      </div>
      <div class="sidebar-container">
        <div class="row">
          <div class="col-12 col-md-12 bottom-dotted">
            <h1>Filtre</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="form-container">
              <label class="form-title">Hotel</label>
              <input type="text" class="form-filter-select" />
            </div>
            <div class="form-container">
              <label class="form-title">Locatie</label>
              <div class="radio-container">
                <!-- Radio box here -->
                <span class="radio-name">Atena</span>
              </div>
              <div class="radio-container">
                <!-- Radio box here -->
                <span class="radio-name">Pireu</span>
              </div>
            </div>
            <div class="form-container">
              <label class="form-title">Nr. nopti</label>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">2 nopti</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">3 nopti</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">5 nopti</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">7 nopti</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">9 nopti</span>
              </div>
            </div>
            <p class="transport"></p>
            <div class="radio-container">
              <!-- Check Box -->
              <mat-icon class="transport-type">plane</mat-icon>
              <span class="transport-text">Avion</span>
            </div>
            <div class="form-container">
              <label class="form-title">Tip masa</label>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Mic Dejun</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Fara Masa</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Buffet Breakfast Included</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Breakfast for Two</span>
              </div>
            </div>
            <div class="form-container">
              <label class="form-title">Pret</label>
              <div class="w-100">
                <!-- Progress bar here -->
              </div>
            </div>
            <div class="form-container">
              <label class="form-title"> Nr. stele </label>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">
                  <!-- 5 star icons here -->
                </span>
              </div>
            </div>
            <div class="form-container">
              <label class="form-title">Recenzii</label>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Exceptional: 9.6+</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Superb: 9+</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Fabulos: 8.6+</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Foarte bine: 8+</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Bine: 7+</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Placut 6+</span>
              </div>
              <div class="check-container">
                <!-- Check box here -->
                <span class="check-name">Toate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-container">
        <div class="row">
          <div class="col-12 col-md-12 bottom-dotted">
            <h1>Alte destinatii</h1>
          </div>
          <div class="destination-block">
            <ul class="destination-list">
              <li class="destination-item">Paros</li>
              <li class="destination-item">Kefalonia</li>
              <li class="destination-item">Thassos</li>
            </ul>
          </div>
          <div class="see-more">
            <button class="see-more-btn"></button>
          </div>
        </div>
      </div>
      <div class="col-9 col-md-12"></div>
    </div>
  </div>
</div>
