<div class="container w-100 m-0 mw-100 p-0 bg-light-grey">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="overlay-image-box">
        <img
          src="../../../assets/images/bg-book-header.png"
          class="overlay-image"
        />
        <div class="toolbar">
          <div class="toolbar-block">
            <div class="toolbar-forms">
              <div class="smart-form-container">
                <div class="s-form-icon">
                  <img src="../../../assets/icons/Group.png" />
                </div>
                <div class="s-form-main-body">
                  <label class="s-form-label">Choose transport</label>
                  <input type="text" class="s-form" />
                </div>
              </div>
              <div class="smart-form-container">
                <div class="s-form-icon">
                  <img src="../../../assets/icons/Group 10.png" />
                </div>
                <div class="s-form-main-body">
                  <label class="s-form-label">Departing from</label>
                  <p class="s-form-text">Bucharest</p>
                </div>
                <div class="s-form-carret">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
              </div>
              <div class="smart-form-container">
                <div class="s-form-icon">
                  <img src="../../../assets/icons/Group (1).png" />
                </div>
                <div class="s-form-main-body">
                  <label class="s-form-label">Destination</label>
                  <input type="text" class="s-form" />
                </div>
              </div>
              <div class="smart-form-container big">
                <div class="s-form-icon">
                  <img src="../../../assets/icons/calendar.png" />
                </div>
                <div class="s-form-main-body">
                  <label class="s-form-label">Package Dates/Nights</label>
                  <p class="s-form-text">24 Aug’ 24 / 7 Nights</p>
                </div>
              </div>
              <div class="smart-form-container">
                <div class="s-form-main-body">
                  <label class="s-form-label text-align-right"
                    >Choose transport</label
                  >
                  <p class="s-form-text text-align-right">4 Guests</p>
                </div>
              </div>
            </div>
            <div class="toolbar-check">
              <button mat-button class="check-btn">Check</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container full-container">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="title-header">
          <div>
            <h2 class="h-title">Holiday Offers in Mykonos, Greece</h2>
            <div class="price-filter">
              <span class="normal-text">starting from</span>
              <span class="smart-text">$259/person</span>
            </div>
          </div>
          <div class="filter-sort">
            <button class="filter-btn" mat-button>
              <div class="ibtn-content">
                <mat-icon>filter_alt</mat-icon>
                <p>Filter</p>
              </div>
            </button>
            <button class="sort-btn" mat-button>
              <div class="ibtn-content ibtn-grey">
                <mat-icon>sort</mat-icon>
                <p>Sort</p>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container full-container mt-0">
    <div class="row">
      <!-- <div class="col-3 col-md-3 p-4">
        <div class="sidebar-container">
          <div class="container p-4 m-0">
            <div class="row">
              <div class="col-12 col-md-12 bottom-dotted">
                <h1>Cautare</h1>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 col-md-12">
                <p class="transport">Transport</p>
                <mat-radio-group [(ngModel)]="selectedOption">
                  <div class="radio-container">
                    <mat-radio-button
                      class="t-radio"
                      value="option1"
                    ></mat-radio-button>
                    <mat-icon class="transport-type">flight</mat-icon>
                    <span class="transport-text">Avion</span>
                  </div>
                  <div class="radio-container">
                    <mat-radio-button
                      class="t-radio"
                      value="option2"
                    ></mat-radio-button>
                    <mat-icon class="transport-type"> directions_car </mat-icon>
                    <span class="transport-text">Individual</span>
                  </div>
                </mat-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="form-container">
                  <label class="form-title">Destinatie</label>
                  <input type="text" class="form-filter-text" />
                </div>
                <div class="form-container">
                  <label class="form-title">Oras plecare</label>
                  <select class="form-filter-select">
                    <option value="">Bucuresti</option>
                  </select>
                </div>
                <div class="form-container">
                  <label class="form-title">Data plecare</label>
                  <input type="text" class="form-filter-select" />
                </div>
                <div class="form-container">
                  <label class="form-title">Nopti</label>
                  <select class="form-filter-select">
                    <option value="">1 noapte</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <h1 class="big-sub-title">Turisti</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                <div class="form-container m-0">
                  <label class="form-title">Adulti</label>
                  <select class="form-filter-select">
                    <option value="">2 adulti</option>
                  </select>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="form-container m-0">
                  <label class="form-title">Copii</label>
                  <select class="form-filter-select">
                    <option value="">nu</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button mat-button class="search-button mt-4 w-100">
                  CAUTA
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-container">
          <div class="map-container"></div>
        </div>
        <div class="sidebar-container">
          <div class="container p-4 m-0">
            <div class="row">
              <div class="col-12 col-md-12 bottom-dotted">
                <h1>Filtre</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="form-container">
                  <label class="form-title">Hotel</label>
                  <input type="text" class="form-filter-select" />
                </div>
                <div class="form-container">
                  <label class="form-title">Locatie</label>
                  <mat-radio-group [(ngModel)]="selectedOption">
                    <div class="radio-container">
                      <mat-radio-button
                        class="t-radio"
                        value="option1"
                      ></mat-radio-button>
                      <span class="radio-name">Atena</span>
                    </div>
                    <div class="radio-container">
                      <mat-radio-button
                        class="t-radio"
                        value="option2"
                      ></mat-radio-button>
                      <span class="radio-name">Pireu</span>
                    </div>
                  </mat-radio-group>
                </div>
                <div class="form-container">
                  <label class="form-title">Nr. nopti</label>
                  <div class="check-container">
                    <mat-checkbox>2 nopti</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>3 nopti</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>5 nopti</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>7 nopti</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>9 nopti</mat-checkbox>
                  </div>
                </div>
                <p class="transport">Transport</p>
                <div class="radio-container">
                  <mat-radio-button
                    class="t-radio"
                    value="option1"
                  ></mat-radio-button>
                  <mat-icon class="transport-type">flight</mat-icon>
                  <span class="transport-text">Avion</span>
                </div>
                <div class="form-container">
                  <label class="form-title">Tip masa</label>
                  <div class="check-container">
                    <mat-checkbox>Mic Dejun</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>Fara Masa</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>Buffet Breakfast Included</mat-checkbox>
                  </div>
                  <div class="check-container">
                    <mat-checkbox>Breakfast for Two</mat-checkbox>
                  </div>
                </div>
                <div class="form-container">
                  <label class="form-title">Pret</label>
                  <div class="w-100">
                    <mat-slider min="200" max="500" class="price-slider">
                      <input value="300" matSliderStartThumb />
                      <input value="400" matSliderEndThumb />
                    </mat-slider>
                    <p class="price-caption">1250$ ~ 2500$</p>
                  </div>
                </div>
                <div class="form-container">
                  <label class="form-title"> Nr. stele </label>
                  <div class="check-container">
                    <mat-checkbox class="review-check"
                      ><span class="review-text">
                        <mat-icon class="yellow-star">star</mat-icon>
                      </span></mat-checkbox
                    >
                    <mat-checkbox class="review-check"
                      ><span class="review-text">
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                      </span></mat-checkbox
                    >
                    <mat-checkbox class="review-check"
                      ><span class="review-text">
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                      </span></mat-checkbox
                    >
                    <mat-checkbox class="review-check"
                      ><span class="review-text">
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                      </span></mat-checkbox
                    >
                    <mat-checkbox class="review-check"
                      ><span class="review-text">
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                        <mat-icon class="yellow-star">star</mat-icon>
                      </span></mat-checkbox
                    >
                  </div>
                </div>
                <div class="form-container">
                  <label class="form-title">Recenzii</label>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text"
                        >Exceptional: 9.6+</span
                      ></mat-checkbox
                    >
                  </div>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text">Superb: 9+</span></mat-checkbox
                    >
                  </div>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text"
                        >Fabulos: 8.6+</span
                      ></mat-checkbox
                    >
                  </div>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text"
                        >Foarte bine: 8+</span
                      ></mat-checkbox
                    >
                  </div>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text">Bine: 7+</span></mat-checkbox
                    >
                  </div>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text">Placut 6+</span></mat-checkbox
                    >
                  </div>
                  <div class="check-container">
                    <mat-checkbox
                      ><span class="review-text">Toate</span></mat-checkbox
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-container">
          <div class="container p-4 m-0">
            <div class="row">
              <div class="col-12 col-md-12 bottom-dotted">
                <h1>Alte destinatii</h1>
              </div>
              <div class="destination-block">
                <ul class="destination-list">
                  <li class="destination-item">Paros</li>
                  <li class="destination-item">Kefalonia</li>
                  <li class="destination-item">Thassos</li>
                </ul>
              </div>
              <div class="see-more">
                <button class="see-more-btn">Afiseaza mai multe</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-9 col-md-12 p-2">
        <div class="listing-content">
          <app-booking-list
            style="width: 100%"
            (click)="toDetail()"
          ></app-booking-list>
          <app-booking-list
            style="width: 100%"
            (click)="toDetail()"
          ></app-booking-list>
          <app-booking-list
            style="width: 100%"
            (click)="toDetail()"
          ></app-booking-list>
        </div>
      </div>
    </div>
  </div>
</div>
