.overlay-image-box {
  position: relative;
  width: 100%;
  height: 45vh;
}

.overlay-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.centered-title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.centered-top-title {
  color: #4257ee;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1;
  font-size: 1rem;
}

.centered-bottom-title {
  color: black;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin: 10px 0 0;
  text-align: center;
}

.sidebar-container {
  width: 100%;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px;
  margin-bottom: 30px;
}

.bottom-dotted {
  padding: 15px;
  text-align: center;
  border-bottom: 2px dashed #d9d9d9;
}

.bottom-dotted h1 {
  color: black !important;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.transport {
  font-size: 16px;
  margin: 0px;
  font-weight: 600;
}

.radio-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.transport-type {
  margin: 5px;
  color: #858886;
}

.transport-text {
  display: inline-block;
  color: #858886;
  font-size: 16px;
}

.active {
  color: #4257ee;
}

.full-container {
  margin: auto;
  max-width: 1444px;
}

.form-title {
  font-size: 16px;
  font-weight: 600;
}

.form-filter-text {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}

.form-filter-select {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}

.big-sub-title {
  font-size: 25px;
  color: black !important;
  margin-top: 10px;
}

.search-button {
  padding: 30px;
  background-color: #4257ee;
  color: white !important;
  border-radius: 10px;
}

.form-container {
  margin-top: 10px;
}

.price-slider {
  width: 100%;
}

.price-caption {
  margin-bottom: 0px;
  text-align: center;
  color: #858886;
  font-size: 18px;
  font-weight: 600;
}

.review-text {
  color: #273d92;
}

.yellow-star {
  color: #f4bb49;
  position: relative;
  top: 3px;
}

.review-check {
  width: 100%;
}

.destination-block {
  padding: 0px;
  padding-top: 10px;
}

.destination-list {
  padding: 0px;
  list-style-type: none;
  font-size: 16px;
  color: grey;
}

.see-more-btn {
  color: #4257ee;
  background: transparent;
  border: none;
  text-decoration: underline;
  float: right;
}

.listing-container {
  width: 100%;
}

.listing-breadcumb {
  color: #858886;
  font-size: 15px;
}

.listing-breadcumb a {
  text-decoration: underline;
  cursor: pointer;
}

.listing-header {
  margin: 10px 0px;
  width: 100%;
}

.listing-header-block {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05) !important;
  padding: 20px;
}

.listing-header-line {
  display: flex;
  justify-content: space-between;
}

.h-title {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin: 0px;
}

.order-by {
  font-size: 18px;
  margin: 0px;
}

.area-map {
  display: flex;
  align-items: center;
}

.area-map i {
  margin-right: 10px;
  color: #4257ee;
  font-size: 18px;
}

.listing-header-text {
  color: #4257ee;
  text-decoration: underline;
  font-size: 16px;
}

.recommendation {
  display: flex;
  align-items: center;
}

.recommendation i {
  margin-left: 10px;
  color: #4257ee;
  font-size: 18px;
}

.listing-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-thumbnail {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05) !important;
  margin: 5px 0px;
}

.thumb-img {
  width: 100%;
  height: 100%;
}

.t-main-container {
  width: 100%;
  padding: 15px;
}

.t-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.t-main-start {
  display: inline-block;
}

.t-location {
  color: #858886;
  font-size: 20px;
  margin-bottom: 15px;
}

.t-main-title {
  color: black;
  font-size: 36px;
  font-weight: bold;
}

.t-main-end {
  display: inline-block;
}

.price {
  font-size: 45px;
  color: #273d92;
  margin: 0px;
}

.pers-stay {
  font-size: 16px;
  color: #858886;
}

.t-review {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.t-stars {
  display: inline-block;
  margin-right: 10px;
}

.exception {
  font-size: 20px;
  color: #273d92;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.c-item {
  display: inline-block;
  margin-right: 10px;
}

.category-icon {
  font-size: 16px;
  color: #858886;
  margin-right: 5px;
}

.category-text {
  font-size: 16px;
  color: #858886;
}

.category-val {
  font-size: 16px;
  color: #858886;
  text-decoration: underline;
}

.t-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.extendable {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.extendable-item {
  display: inline-block;
}

.ex-text {
  font-size: 16px;
  color: #858886;
  text-decoration: underline;
  margin-right: 5px;
}

.ex-icon {
  display: inline-block;
}

.ex-icon i {
  font-size: 16px;
  color: #858886;
}

.book-now {
  padding: 32px;
  font-size: 18px;
  color: white;
  background-color: #4257ee;
  border-radius: 10px;
}
