
<!-- header.component.html -->
<!-- header.component.html -->
<header class="site-header">

    <div class="">
        <div class="header-content">
            <div class="logo">
                <img src="../../../assets/images/logos/#4257EELogo.svg" class="not-mobile" alt="">
                <span class="logo-text-#4257EE public">Bestinform</span>
            </div>
        </div>
    </div>
    <div class="header-image">
        <div class="image-container">
            <div class="container-text">
                <div class="overlay"></div> <!-- This will hold the confetti or pattern overlay -->
                <div class="content">
                    <h1>Felicitări!</h1>
                    <h3>Ai câștigat un voucher în valoare de 100 EUR!</h3>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/bestinformeu" class="icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/bestinform.eu " class="icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@bestinform?_t=8jYRzdu4VxR&_r=1" class="icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- giveaway-footer.component.html -->
<div class="giveaway-footer">
    <div class="container-footer">
      <a href="/">
        <img src="assets/Bestinform_logo.png" alt="Bestinform Logo" width="200px">
      </a>
      <div class="menu-items">
          <!-- Contact and Social Media Section -->
          <a class="menu-item" href="/content/giveaway-rules">Regulament concurs</a>
  
      </div>
    </div>
    <hr class="width">
  
    <!-- <div class="social-media-icons">
      <a href="https://www.facebook.com/profile.php?id=100076116217462" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://instagram.com/bestinform.app?igshid=MzRlODBiNWFlZA==" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.tiktok.com/@bestinform" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>
    
    </div> -->
        <!-- Menu Links Section -->
        <div class="menu-links">
          <div class="menu-items">
            <span class="menu-item"  target="_blank">© 2024 Bestinform </span>
            <a class="menu-item" href="/content/privacy-policy" target="_blank">Politica de confidentialitate</a>
  
          </div>
    
      </div>
    </div>
    