:host ::ng-deep {

  .p-button-yellow {
    background-color: #f8cc50;
    color: #4257EE;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: unset;
    width: 100%;
  }
  .p-button-yellow:enabled:focus {
    background: hsla(233, 83%, 60%, 1);
    border-color: hsla(233, 83%, 60%, 1);
  }
  .p-button-yellow:enabled:hover {
    background: hsla(233, 83%, 60%, 1);
    border-color: hsla(233, 83%, 60%, 1);
  }
  .p-carousel-item {
    padding: 0px 10px!important;
  }
  .p-carousel-container {
    button:not(.rezerva) {
      opacity: 1;
      width: 40px;
      height: 40px;
      z-index: 999;
      position: absolute;
      outline: none;
      box-shadow: none !important;

      &.p-carousel-prev {
        left: -16px;
        background: #4257EE !important;

        svg path {
          fill: #FCFCFD;
        }
      }

      &.p-carousel-next {
        right: -16px;
        background: #4257EE !important;

        svg path {
          fill: #FCFCFD;
        }
      }
    }
  }

  .events-true.p-carousel-content {
    .p-carousel-container {
      .p-carousel-prev {
        top: -21px;
        z-index: 999;
        left: unset;
        position: absolute;
      }
      .p-carousel-next {
        bottom: -21px;
        z-index: 999;
        right: unset;
        position: absolute;
      }
    }
  }
}

.button-wrapper {
  padding: 0px 10px;
  width: 100%;
}

.first-container {
  .title-container {
    padding: 0;
  }
}

.slider-container {
  position: relative;
  overflow: visible;
  padding-bottom: 20px;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.slider-container-hotels {
  width: calc(100% - 40px);
}
.slider-container-search-hotels {
  width: calc(100% - 1rem);
}

.slider {
  display: grid;
  grid-auto-flow: column;
  // grid-template-columns: repeat(auto-fill, 200px);
  gap: 24px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

mat-icon {
  color: #101828;
}

::ng-deep .arrow {
  background-color: white !important;
}

.glow-wrapper {
  position: relative;
}

.glow-wrapper::before,
.glow-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  pointer-events: none;
}

.glow-wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);
}

.glow-wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), transparent);
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

:host ::ng-deep .p-button.p-button-outlined {
  color: #515478;
  .p-button-label {
    color: #4257EE
  }
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100%;
}
.slider-wrapper-search-hotels {
  align-items: start;
}

@media (max-width: 980px) {
  :host ::ng-deep p-button {
    display: none;
  }
  .arrow {
    display: none;
  }
  .slider-container {
    padding: 0px;
  }
  :host ::ng-deep {
    .events-true.p-carousel-content {
      .p-carousel-container {
        .p-carousel-next {
          right: -16px !important;
          bottom: unset !important;
          z-index: 999;
          position: absolute;
        }
        .p-carousel-prev {
          left: -16px !important;
          top: unset !important;
          z-index: 999;
          position: absolute;
        }
      }
    }
    .p-carousel-item {
      padding: 5px;
    }
  }
}

@media (min-width: 981px) {
  .eventTitle {
    display: none;
  }
  .eventSlider {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .title-container {
    flex-wrap: wrap;
    gap: 20px;
    white-space: normal;
  }
}
::ng-deep .card-selected mat-card {
  background-color: #4257EE!important;
  color: white!important;
  border-color: #4257EE!important;
}
::ng-deep  mat-card {
  background-color: white!important;
  color: #4257EE!important;
  border-color: #4257EE!important;
  border: 1px solid;

  :hover {
    cursor: pointer;
  }
}
::ng-deep .hotel-carousel {
  .p-carousel-item {
    border-color: #4257EE!important;
    border-radius: 1rem;
    overflow: hidden;
  }
  .hotel-carousel-background {
    background-color: #f8cc50;
  }
  .card-text {
    padding: 1rem 1rem 0.25rem 1rem;
  }
  .p-carousel-content, .p-carousel, .p-carousel-container {
    height: 100%;
  }
  .p-carousel-items-container {
    //gap: 1rem;
    height: 100%;
  }

}
::ng-deep .hotel-carousel.no-padding {
  .p-carousel-item {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .p-carousel-content, .p-carousel, .p-carousel-container {
    height: 100%;
  }
}
::ng-deep .hotel-carousel.w-33 {
  .p-carousel-items-content {
    display: flex;
    justify-content: center;
  }
  .p-carousel-items-container {
    width: 33.33%;
  }
  .p-carousel-next {
    visibility: hidden;
  }
  .p-carousel-prev {
    visibility: hidden;
  }
  .p-carousel-content, .p-carousel, .p-carousel-container {
    height: 100%;
  }
}
::ng-deep .hotel-carousel.carousel-2-elements {
  .p-carousel-items-content {
    display: flex;
    justify-content: center;
  }
  .p-carousel-next {
    visibility: hidden;
  }
  .p-carousel-prev {
    visibility: hidden;
  }
  .p-carousel-items-container {
    width: 80%;
    border-radius: 1rem;
  }
  .p-carousel-content, .p-carousel, .p-carousel-container {
    height: 100%;
  }
}
::ng-deep .hotel-carousel.carousel-width-40 {
  .p-carousel-items-content {
    display: flex;
    justify-content: center;
  }
  .p-carousel-items-container {
    width: 40%;
  }
  .p-carousel-next {
    visibility: hidden;
  }
  .p-carousel-prev {
    visibility: hidden;
  }
  .p-carousel-content, .p-carousel, .p-carousel-container {
    height: 100%;
  }
}
