<div class="content d-flex flex-column align-items-center justify-content-between h-100 w-100">
    <p class="p-4 mb-0 upper">{{'ENROLLMENT.CONGRATS' | translate}}</p>
    <h1>Pachetul trial a fost activat!</h1>
    <p class="welcome">Bun venit în versiunea de trial a aplicației noastre! Ești acum pe cale să experimentezi toate funcționalitățile pe care le oferim. Ne bucurăm că te-ai alăturat comunității noastre!</p>

    <div class="footer-btns w-100 d-flex justify-content-between">
        <button class="back-btn" type="button">
        </button>
        <button class="skip-btn" type="button" (click)="goToHp()">{{'ENROLLMENT.GO-TO-HP' | translate}}
        </button>
        <button class="next-btn" type="button">
        </button>
    </div>

</div>