<div id="payment">


    <div class="tab-section-title">
        <i class="fas fa-info-circle"></i>
        <h2>Payment</h2>
    </div>

    <!--Content-->
    <div class="section-content">
        <!--        <p>Pentru acest tip de resursă nu avem Setup.</p>-->

        <div class="row">
            <!--Title Section-->
            <div class="col-12 mb-3">
                <div class="first-card w-100">
                    <h3 class="mb-0">Permiteti oaspetilor sa plateasca online</h3>
                    <p class="info-text">Oaspetii pot sa plateasca folosind serviciile Bestinform.com, iata cum
                        functioneaza:</p>

                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="pair d-flex justify-content-between align-items-center">
                                <div class="icon-class d-flex justify-content-center align-items-center me-2">
                                    <i class="fas fa-calendar-check"></i>
                                </div>

                                <div class="infos">
                                    <h5>Clientul face rezervarea</h5>
                                    <p class="icon-text">Un client Bestinform face o rezervare pentru proprietatea dvs,
                                        folosind metoda de plata preferata</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="pair d-flex justify-content-between align-items-center">
                                <div class="icon-class d-flex justify-content-center align-items-center me-2">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>

                                <div class="infos">
                                    <h5>Bestinform faciliteaza plata</h5>
                                    <p class="icon-text">Un client Bestinform face o rezervare pentru proprietatea dvs,
                                        folosind metoda de plata preferata</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="pair d-flex justify-content-between align-items-center">
                                <div class="icon-class d-flex justify-content-center align-items-center me-2">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                </div>

                                <div class="infos">
                                    <h5>Sunteti platit</h5>
                                    <p class="icon-text">Un client Bestinform face o rezervare pentru proprietatea dvs,
                                        folosind metoda de plata preferata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="second-card w-100">
                    <div class="row">
                        <h3 class="mb-0">Comisionul platilor</h3>

                        <div class="col-12 col-lg-8">
                            <p>In fiecare luna vom efectua o plata catre dvs, din care vom extrage comisionul, pentru toate
                                rezervarile completate in luna anterioara. Pentru evidentele dvs, in fiecare luna va
                                trimitem o factura a istoricului acestei tranzactii.</p>
                        </div>

<!--                        <div class="col-6 col-lg-2">-->
<!--                            <p class="percent mb-0">15%</p>-->
<!--                            <p class="title mb-0">Costul tranzactiei</p>-->
<!--                        </div>-->
<!--                        TO DO - De pus comisionul de la provider-->
                        <div class="col-6 col-lg-2">
                            <p class="percent mb-0">{{commission}}%</p>
                            <p class="title mb-0">Procentaj de comision</p>
                        </div>

<!--                        <div class="col-12 col-lg-6">-->
<!--                            <h3>Adresa destinatarului</h3>-->
<!--                            <p>Adresa destinatarului este identica cu cea a proprietatii dvs?</p>-->
<!--                            <div class="row">-->
<!--                                <div class="col-12 col-lg-6">-->
<!--                                    <button class="btn-long btn-color-fill w-100">Da<i class="ms-2 fas fa-check"></i></button>-->
<!--                                </div>-->
<!--                                <div class="col-12 col-lg-6">-->
<!--                                    <button class="btn-long btn-color-outline w-100">Nu<i class="ms-2 fas fa-times"></i></button>-->
<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-12 col-lg-6">-->
<!--                            <h3>Nume</h3>-->
<!--                            <p>Ce nume doriti sa apara pe factura (de ex. numele legal/al companiei)?</p>-->
<!--                            <mat-form-field class="w-100">-->
<!--                                <mat-label>Nume</mat-label>-->
<!--                                <input matInput placeholder="George Ciobanu" value="George Ciobanu">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->
                    </div>

                </div>

<!--                <div class="third-card w-100">-->
<!--                    <h3>Probabil ati terminat - doar cateva lucruri finale de luat in considerare</h3>-->
<!--                    <p>In fiecare luna vom efectua o plata catre dvs, din care vom extrage comisionul, pentru toate rezervarile completate in luna anterioara. Pentru evidentele dvs, in fiecare luna va trimitem o factura a istoricului acestei tranzactii.</p>-->

<!--                    <div class="d-flex justify-content-start">-->
<!--                        <div class="icon-container d-flex justify-content-center align-items-center me-2">-->
<!--                            <i class="fas fa-paperclip"></i>-->
<!--                        </div>-->
<!--                        <div class="information">-->
<!--                            <h5 class="mb-0">Ati semnat deja contractul de rezervari cu Bestinform</h5>-->
<!--                            <p class="mb-0">Atunci cand ati semnat contractul, v-am trimis si un e-mail de confirmare si o copie a contractului in format PDF.-->
<!--                                Puteti descarca contractul apasand pe butonul de mai jos. </p>-->
<!--                            <button class="btn-long btn-color-outline w-100">Descarca <i class="fas fa-download"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
            </div>
        </div>
    </div>


    <!--Stepper Controller-->
    <div class="stepper-step-controller">
        <!--Prev Step-->
        <div class="next-step">
            <button class="btn-long btn-color-fill" type="button" (click)="prevStep()">
                <i class="fas fa-arrow-left"></i>
                Înapoi
            </button>
        </div>
        <!--Next Step-->
        <div class="next-step">
<!--            <button class="btn-long btn-color-fill" type="button" (click)="nextStep()">-->
<!--                Finalizare-->
<!--                <i class="fas fa-arrow-right"></i>-->
<!--            </button>-->

            <button (click)="currentBookingType === 'menu' ? submitForm() : nextStep()"
                     [disabled]="isSubmitLoading"
                     class="btn-long btn-color-fill" type="button">
                <ng-container *ngIf="isSubmitLoading===false">
                    Finalizează
                    <i class="fas fa-arrow-right"></i>
                </ng-container>
                <ng-container *ngIf="isSubmitLoading === true">
                      <span [style.display]="'block'" clas="indicator-progress">
                        Finalizare...{{ " " }}
                          <span
                                  class="spinner-border spinner-border-sm align-middle ms-2"
                          ></span>
                      </span>
                </ng-container>
            </button>
        </div>
    </div>
</div>
