@import "/src/app/theme/styles/components/colors";

.reservation-container-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.content_container{
    .header-title-section{
        position:relative;
        background-color: var(--primary-background);
        box-shadow: 0px 4px 8px rgba(35, 31, 32, 0.08);
        padding: 27px 48px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid rgba(36, 57, 138, 0.12);
   }


//    div.bshadow img{

//    }

   .middle-content-section{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 50.51%, rgba(36, 57, 138, 0.08) 100%), #FFFFFF;
        border-bottom: 1px solid rgba(36, 57, 138, 0.12);
        padding: 24px 48px;
    }

   .content-section{
        background-color: var(--primary-background);
        border: 1px solid rgba(36, 57, 138, 0.16);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        padding: 48px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 16px;

        .booking-details-img{
          height: 240px;
          overflow: hidden;
          img{
               width:100%;
                height: 100%;
               object-fit: cover;
            object-position: center;
          }

     }
   }

   //titles
   h3{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: $paragraph;

        span{
          color: $primary-color;
          padding-right: 5px;
          padding-left: 5px;
        }
   }

   h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: $primary-color;
    margin-bottom: 16px;

    span {
        color: $paragraph;
        padding-right: 5px;

      }
   }

   p{
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
         display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: $paragraph;
        margin-bottom:0;
   }

   p span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: $primary-color;
    padding: 0 5px;
   }
   i{
     margin-right: 5px;
   }

}

.aclass{
     width: 80px!important;
}


.total-price-info i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 0px !important;
  color: gray;
}

.small-font-size{
  font-size: 16px!important;
}
