<div class="save-btn d-flex justify-content-end align-items-center mb-3" *ngIf="resourceId">
    <button  *ngIf="resourceId"
             (click)="saveResource()"
             [disabled]="isSubmitLoading"
             class="btn-long btn-color-fill" type="button">
        <ng-container *ngIf="isSubmitLoading===false">
            <i class="fas fa-save"></i>
            Salvează
        </ng-container>
        <ng-container *ngIf="isSubmitLoading === true">
                      <span [style.display]="'block'" clas="indicator-progress">
                        Salvare...{{ " " }}
                          <span
                                  class="spinner-border spinner-border-sm align-middle ms-2"
                          ></span>
                      </span>
        </ng-container>
    </button>
</div>

<div id="rental-booking">

    <div class="tab-section-title">
        <i class="fas fa-info-circle"></i>
        <h2>Property Setup</h2>
    </div>

    <!--Content-->
    <div class="section-content">
        <div class="row">
            <!--Title Section-->
            <div class="col-12 mb-3">
                <h2 class="section-title">Tip spații de cazare disponibile</h2>
            </div>

            <div class="col-12">

                <!--List Title-->
                <div class="list-title">
                    <h5 class="title">Listare camere</h5>
                </div>

                <!--List Content-->
                <div class="list-content" *ngIf="dataLoaded">

                    <!--Room List-->
                    <div *ngIf="roomList.length > 0" id="room-list">
                        <div class="room-container d-flex flex-row mb-4" *ngFor="let room of roomList">

                            <!--Room Content-->
                            <div class="flex-grow-1">
                                <div class="room-header">
                                    <h4>{{room.itemsForBooking.length}} x {{room.name}}</h4>
                                </div>
                                <div class="room-body">
                                    <div class="row">
                                        <!--Room Details-->
                                        <div class="col-md-9 col-12 mt-2">
                                            <div class="row">

                                                <!--Name-->
                                                <div class="col-lg-3 col-md-6 col-12 mb-2">
                                                    <h5 class="section-title">Denumire tip cameră: <span>{{room.name}}</span></h5>
                                                </div>

                                                <!--Adults-->
                                                <div class="col-lg-3 col-md-6 col-12 mb-2">
                                                    <h5 class="section-title">Locuri adulti:
                                                        <span>{{room.maximumAdultPeople}}</span></h5>
                                                </div>

                                                <!--Children-->
                                                <div class="col-lg-3 col-md-6 col-12 mb-2">
                                                    <h5 class="section-title">Locuri copii:
                                                        <span>{{room.maximumChildren}}</span></h5>
                                                </div>

                                                <!--Bathrooms-->
                                                <div class="col-lg-3 col-md-6 col-12 mb-2">
                                                    <h5 class="section-title">Numar bai: <span>{{room.bathrooms}}</span>
                                                    </h5>
                                                </div>

                                                <!--Description-->
                                                <div class="col-12 mt-2">
                                                    <h5 class="section-title mb-2">Descriere:</h5>
                                                    <p class="m-0">{{room.description}}</p>
                                                </div>

                                                <!--Beds Type-->
                                                <div class="col-12 mt-2">
                                                    <h5 class="section-title mb-2">Paturi:</h5>
                                                    <div class="row">
                                                        <div
                                                             *ngFor="let bed of room.bedType"
                                                             [className]="bed.quantity > 0 ? 'col-md-6 col-12 mb-2' : 'd-none'">
                                                            <div class="bed-type" *ngIf="bed.quantity > 0">
                                                                <i class="bed-icon fas fa-bed me-2"></i>
                                                                <span>{{bed.type}}: {{bed.quantity}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Benefits-->
                                                <div class="col-12 mt-2">
                                                    <h5 class="section-title mb-2">Beneficii:</h5>
                                                    <div class="d-flex flex-row flex-wrap">
                                                        <div *ngFor="let benefit of room.benefits" class="me-2 mb-2">
                                                            <app-bf-chips *ngIf="benefit.attributeValue === 'true'"  [name]="benefit.name" [icon]="benefit.icon"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Price-->
                                        <div class="col-md-3 col-12">
                                            <div class="room-price mt-2">
                                                <div class="regular-price mb-2">
                                                    <h5>Regular price</h5>
                                                    <span class="price">{{room.price.regularPrice}}</span>
                                                    <span class="price-per-night">EUR/Noapte</span>
                                                </div>
                                                <div class="weekend-price">
                                                    <h5>Weekend price</h5>
                                                    <span class="price">{{room.price.weekendPrice}}</span>
                                                    <span class="price-per-night">EUR/Noapte</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Actions Button-->
                            <div class="d-flex flex-column">
                                <button class="delete-room-btn" type="button" (click)="openDeleteModal(room.id)">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="edit-room-btn" type="button" (click)="openEditModal(room.id)">
                                    <i class="fa fa-pen"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <!--Add Room-->
                    <div class="row">
                        <div class="col-12">
                            <button class="add-room-btn" (click)="openAddModal()">
                                Adăugare
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Stepper Controller-->
    <div class="stepper-step-controller">
        <!--Prev Step-->
        <div class="next-step">
            <button class="btn-long btn-color-fill" type="button" (click)="prevStep()">
                <i class="fas fa-arrow-left"></i>
                Înapoi
            </button>
        </div>
        <!--Next Step-->
        <div class="next-step">
            <button class="btn-long btn-color-fill" type="button" (click)="nextStep()">
                Urmatorul
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>


</div>
