<div class="sale-container">
    <div class="container">
        <div class="sale-card d-flex">
            <div class="col-text d-flex flex-column justify-content-center align-items-start">
                <p class="title-p mb-0">{{"GENERAL.DOWNLOAD-APP" | translate}}</p>
                <!-- <p class="details">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <!-- <button class="btn-long btn-white-fill">Află mai multe <i class="fas fa-arrow-right ml-2"></i></button> -->
                <div class="d-flex align-items-center justify-content-start gap-2 flex-wrap">
                    <button class="btn-long btn-white-fill"><i class="fab fa-google-play"></i> Get It on Google Play</button>
                    <button class="btn-long btn-white-fill"><i class="fab fa-apple"></i> Download on the App Store</button>
                </div>


            </div>
            <div class="col-img">
                <img src="../../../../../assets/images/others/sale.png" class="img-fluid">
            </div>
        </div>
    </div>

</div>
